.app-shell {
  background: url('/assets/images/background/parallax.png') no-repeat center center fixed;
  background-size: cover;
  .sidenav-container {
    height: 100%;
  }
  .logo {
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
  }
  .mat-drawer-side {
    border: none;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
  }
  ::ng-deep .mat-drawer-inner-container {
    overflow: hidden;
  }
  .sidenav {
    width: 270px;
    overflow: hidden;
    ::ng-deep .mat-nav-list {
      overflow-y: auto;
      height: 100%;
    }
  }
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .mat-drawer-content.mat-sidenav-content {
    overflow: hidden;
  }
  .main-content {
    overflow: hidden auto;
    position: relative;
  }
  .supply-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    ::ng-deep .mat-list-item-content {
      justify-content: center;
      padding: 0;
    }
  }
  .scroll-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .mat-list-base.mat-nav-list.router-list {
    ::ng-deep .mat-list-avatar {
      width: 60px !important;
      height: 60px !important;
      border-radius: 0;
    }
    ::ng-deep .mat-list-item-content {
      padding: 0;
    }
  }
  .mat-subheader img {
    width: 44px;
    height: 44px;
    margin: -8px 8px -8px 0px;
  }

}

@media screen and (max-width: 960px) {
  .app-shell {
    .supply-list {
      ::ng-deep .mat-list-item-content {
        z-index: 1;
        .mat-list-avatar {
          width: 40px !important;
          height: 40px !important;
        }
      }
    }
  }
}
