.app-shell {
  // background: url("/assets/images/background/wallpaper.jpg") no-repeat center center fixed;
  // background: url("/assets/images/background/background.jpg") no-repeat center center fixed;
  background: url("/assets/images/background/world.jpg") no-repeat center center fixed;
  background-size: cover;
  .sidenav-container {
    height: 100%;
  }
  .logo {
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
  }
  .mat-drawer-side {
    border: none;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
  }
  ::ng-deep .mat-drawer-inner-container {
    overflow: hidden;
  }
  .sidenav {
    width: 300px;
    overflow: hidden;
    ::ng-deep .mat-nav-list {
      overflow-y: auto;
    }
  }
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  i {
    font-style: normal;
    font-size: 1.25em;
    margin-right: 16px;
  }
  .avatar {
    width: 1.75em;
    border-radius: 50%;
    margin: 0 10px 5px;
  }
  .mat-drawer-content.mat-sidenav-content {
    overflow: hidden;
  }
  .main-content {
    overflow-x: hidden;
  }
  .sidenav-logo {
    width: 175px;
    height: 175px;
    margin: 10px 0;
  }
  .sidenav-logo-container {
    text-align: center;
  }
  .supply-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .scroll-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .mat-list-base.mat-nav-list.router-list {
    ::ng-deep .mat-list-avatar {
      width: 60px !important;
      height: 60px !important;
      border-radius: 0;
    }
    ::ng-deep .mat-list-item-content {
      padding: 0;
    }
  }
  .mat-subheader img {
    width: 40px;
    height: 40px;
    margin: -8px 8px -8px -8px;
  }
}

@media screen and (max-width: 960px) {
  .app-shell {
    .supply-list {
      ::ng-deep .mat-list-item-content {
        padding: 0 6px !important;
        z-index: 1;
      }
    }
    .mat-toolbar-row, .mat-toolbar-single-row {
      padding: 0 !important;
    }
  }
}
