<mat-sidenav-container class="app-shell sidenav-container" autosize [hasBackdrop]="(isHandset$ | async)">
  <!-- sidenav -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) || !(isHandset$ | async) && (isMap$ | async) ? 'over' : 'side'"
    opened="true">
    <mat-toolbar>
      <!-- toggler -->
      <button type="button" aria-label="toggle" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="menu">menu</mat-icon>
      </button>
      <!-- title -->
      <span class="fill-space"></span>
      <span class="logo">{{ (link$ | async)?.name | translate }}</span>
      <span class="fill-space"></span>
      <!-- language -->
      <button mat-icon-button [matMenuTriggerFor]="language">
        {{ translateService.currentLang }}
      </button>
      <mat-menu #language="matMenu">
        <a mat-menu-item *ngFor="let l of langs" (click)="translateService.use(l.lang)" class="flag-menu">
          <img [src]="l.image"/>
          <span>{{ l.lang }}</span>
        </a>
      </mat-menu>
    </mat-toolbar>
    <!-- scroll container -->
    <div class="scroll-container" [ngStyle]="{ height: !(isHandset$ | async) ? 'calc(100% - 64px)' : 'calc(100% - 56px)' }">
      <!-- image -->
      <div class="sidenav-logo-container" *ngIf="!(isHandset$ | async)">
        <img class="sidenav-logo" [src]="(link$ | async)?.image" alt="icon"/>
      </div>
      <!-- links -->
      <mat-nav-list dense>
        <a mat-list-item [routerLink]="link.url ? link.url : null" [routerLinkActive]="link.url ? ['active'] : []" [routerLinkActiveOptions]="{ exact: true }" *ngFor="let link of links">
          <div mat-list-avatar>
            <img mat-list-avatar [src]="link.image" alt="{{ link.name | translate }}"/>
          </div>
          <div mat-line>{{ link.name | translate }}</div>
          <div mat-line class="mat-card-subtitle">{{ link.description | translate }}</div>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <!-- sidenav content -->
  <mat-sidenav-content>
    <mat-toolbar>
      <!-- toggler -->
      <button type="button" aria-label="toggle" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="menu">menu</mat-icon>
      </button>
      <!-- title -->
      <span class="logo" *ngIf="!(isHandset$ | async)">{{ 'topnav.title' | translate }}</span>
      <span class="fill-space"></span>
      <!-- supply list -->
      <mat-list dense class="supply-list" role="list">
        <mat-list-item *ngFor="let supply of kingdomSupplies; let i = index" role="listitem">
          <div 
            mat-list-avatar 
            [matTooltip]="supply.join.name | translate"
            [matBadge]="supply.quantity | short" 
            [matBadgePosition]="i % 2 === 0 ? 'below before' : 'above before'"
            matBadgeOverlap="true">
            <img mat-list-avatar [src]="supply.join.image" alt="{{ supply.join.name | translate }}"/>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-toolbar>
    <!-- main content -->
    <main class="main-content" [ngStyle]="{ height: !(isHandset$ | async) ? 'calc(100vh - 64px)' : 'calc(100vh - 56px)' }">
      <ng-content></ng-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
