<mat-sidenav-container class="app-shell sidenav-container" autosize [hasBackdrop]="(isHandset$ | async)">
  <!-- sidenav -->
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(angularFireAuth.authState | async)">
    <mat-toolbar>
      <!-- toggler -->
      <button type="button" aria-label="toggle" mat-icon-button (click)="toggle()">
        <mat-icon aria-label="menu">menu</mat-icon>
      </button>
      <!-- title -->
      <span class="fill-space"></span>
      <span class="logo">{{ (link$ | async)?.name | translate }}</span>
      <span class="fill-space"></span>
      <!-- language -->
      <button mat-icon-button [matMenuTriggerFor]="language">
        <img [src]="getFlag()"/>
      </button>
      <mat-menu #language="matMenu">
        <a mat-menu-item *ngFor="let l of langs" [ngClass]="{ 'active': translateService.currentLang === l.lang }" (click)="translateService.use(l.lang)" class="flag-menu">
          <img [src]="l.image"/>
          <span>{{ l.lang.toString().toUpperCase() }}</span>
        </a>
      </mat-menu>
    </mat-toolbar>
    <!-- scroll container -->
    <div class="scroll-container" [ngStyle]="{ height: !(isHandset$ | async) ? 'calc(100% - 64px)' : 'calc(100% - 56px)' }">
      <!-- image -->
      <!--
      <div class="sidenav-logo-container">
        <img class="sidenav-logo" [src]="(link$ | async)?.image">
      </div>
      -->
      <!-- links -->
      <mat-nav-list dense class="router-list">
        <ng-container *ngFor="let group of groups">
          <div matSubheader>{{ group.name | translate }}:</div>
          <ng-container *ngFor="let link of group.links">
            <a mat-list-item
              *ngIf="link.show"
              [disabled]="!(angularFireAuth.authState | async)"
              (click)="close()"
              [routerLink]="link.url ? link.url : null"
              [routerLinkActive]="link.url ? ['active'] : []"
              [routerLinkActiveOptions]="{ exact: true }">
              <div mat-list-avatar>
                <img mat-list-avatar [src]="link.image">
              </div>
              <div mat-line>{{ link.name | translate }}</div>
              <div mat-line class="mat-card-subtitle">{{ link.description | translate }}</div>
            </a>
          </ng-container>
        </ng-container>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <!-- sidenav content -->
  <mat-sidenav-content>
    <mat-toolbar>
      <!-- toggler -->
      <button type="button" aria-label="toggle" mat-icon-button (click)="toggle()">
        <mat-icon aria-label="menu">{{ drawer.opened ? 'first_page' : 'last_page' }}</mat-icon>
      </button>
      <!-- title -->
      <span class="fill-space"></span>
      <!-- supply list -->
      <mat-nav-list dense class="supply-list" role="navigation" *ngIf="(angularFireAuth.authState | async)" tourAnchor="tour.supplies">
        <ng-container *ngFor="let supply of kingdomSupplies$ | async; let i = index">
          <a mat-list-item [routerLink]="getSupplyLink(supply)">
            <div
              mat-list-avatar
              (click)="close()"
              [title]="supply.join.name | translate"
              [matBadge]="supply.max ? (supply.quantity | short) + '/' + (supply.max | short) : supply.quantity | short"
              [matBadgeColor]="supply.balance === 0 ? 'primary' : supply.balance > 0 ? 'accent' : 'warn'"
              [matBadgePosition]="i % 2 === 0 ? 'below before' : 'above before'"
              matBadgeOverlap="true">
              <img mat-list-avatar [src]="supply.join.image">
            </div>
          </a>
        </ng-container>
      </mat-nav-list>
      <!-- auth -->
      <span class="fill-space"></span>
      <button mat-icon-button [matMenuTriggerFor]="auth">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #auth="matMenu">
        <a mat-menu-item routerLink="/user/login" *ngIf="!(angularFireAuth.authState | async)"><mat-icon>lock_open</mat-icon>{{ 'user.auth.login' | translate }}</a>
        <a mat-menu-item (click)="logout()" *ngIf="(angularFireAuth.authState | async)"><mat-icon>lock</mat-icon>{{ 'user.auth.logout' | translate }}</a>
        <a mat-menu-item (click)="tour()" *ngIf="(angularFireAuth.authState | async)"><mat-icon>live_help</mat-icon>{{ 'user.auth.tour' | translate }}</a>
      </mat-menu>
    </mat-toolbar>
    <!-- main content -->
    <main
      class="main-content"
      [ngStyle]="{ height: !(isHandset$ | async) ? 'calc(100vh - 64px)' : 'calc(100vh - 56px)', width: !(isHandset$ | async) && drawer.opened ? 'calc(100vw - 300px)' : '100vw' }">
      <ng-content></ng-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
