<div class="kingdom-tavern" fxLayout="row wrap" fxLayoutGap="10px grid" cdkDropListGroup [@fadeInOnEnter]>

  <div fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/images/cards/tavern.png">
        <mat-card-title>{{ 'kingdom.tavern.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'kingdom.tavern.description' | translate }}</mat-card-subtitle>
        <div class="mat-card-extras">
          <button mat-icon-button (click)="this.tutorialService.start('tour.tavern')"><mat-icon>help</mat-icon></button>
          <mat-chip-list><mat-chip color="primary"><mat-icon>filter_9_plus</mat-icon>{{ 'kingdom.tavern.max' | translate }}</mat-chip></mat-chip-list>
        </div>
      </mat-card-header>

      <mat-card-content>
        <div matSubheader>{{ 'card.list.contracts' | translate }}:</div>
        <mat-action-list dense class="dotted" tourAnchor="tour.tavern" id="0" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="assignContract($event)" [cdkDropListData]="kingdomContracts">
          <button mat-list-item *ngFor="let contract of kingdomContracts" cdkDrag class="handle" [id]="contract.fid" (click)="openDischargeDialog(contract)" [ngClass]="[contract.hero.faction.id, contract.hero.legendary ? 'legendary' : 'common']">
            <div mat-list-avatar [matBadge]="contract.level | short" matBadgePosition="above before">
              <img mat-list-avatar [src]="contract.hero.image">
            </div>
            <div mat-line>{{ contract.hero.name | translate:{name:contract.name} }}</div>
            <div mat-line class="mat-card-subtitle" [innerHTML]="contract.hero.description | translate | icon:contract.hero"></div>
            <mat-icon>open_with</mat-icon>
          </button>
        </mat-action-list>
      </mat-card-content>
      <mat-card-content>
        <p [innerHTML]="'kingdom.tavern.help' | translate | icon"></p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/images/cards/leadership.png">
        <mat-card-title>{{ 'kingdom.leadership.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'kingdom.leadership.description' | translate }}</mat-card-subtitle>
        <div class="mat-card-extras">
          <button mat-icon-button (click)="this.tutorialService.start('tour.leadership')"><mat-icon>help</mat-icon></button>
          <mat-chip-list><mat-chip color="primary"><mat-icon>filter_3</mat-icon>{{ 'kingdom.leadership.max' | translate }}</mat-chip></mat-chip-list>
        </div>
      </mat-card-header>

      <mat-card-content>
        <div matSubheader>{{ 'card.list.contracts' | translate }}:</div>
        <mat-list dense class="dotted" id="1" tourAnchor="tour.leadership" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="assignContract($event)" [cdkDropListData]="attackContracts">
          <mat-list-item *ngFor="let contract of attackContracts" cdkDrag class="handle" [id]="contract.fid" [ngClass]="[contract.hero.faction.id, contract.hero.legendary ? 'legendary' : 'common']">
            <div mat-list-avatar [matBadge]="contract.level | short" matBadgePosition="above before">
              <img mat-list-avatar [src]="contract.hero.image">
            </div>
            <div mat-line>{{ contract.hero.name | translate:{name:contract.name} }}</div>
            <div mat-line class="mat-card-subtitle" [innerHTML]="contract.hero.description | translate | icon:contract.hero"></div>
            <mat-icon>open_with</mat-icon>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-content>
        <p [innerHTML]="'kingdom.leadership.help' | translate | icon"></p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/images/cards/guardian.png">
        <mat-card-title>{{ 'kingdom.guard.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'kingdom.guard.description' | translate }}</mat-card-subtitle>
        <div class="mat-card-extras">
          <button mat-icon-button (click)="this.tutorialService.start('tour.guard')"><mat-icon>help</mat-icon></button>
          <mat-chip-list><mat-chip color="primary"><mat-icon>filter_3</mat-icon>{{ 'kingdom.guard.max' | translate }}</mat-chip></mat-chip-list>
        </div>
      </mat-card-header>

      <mat-card-content>
        <div matSubheader>{{ 'card.list.contracts' | translate }}:</div>
        <mat-list dense class="dotted" id="2" tourAnchor="tour.guard" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="assignContract($event)" [cdkDropListData]="defenseContracts">
          <mat-list-item *ngFor="let contract of defenseContracts" cdkDrag class="handle" [id]="contract.fid" [ngClass]="[contract.hero.faction.id, contract.hero.legendary ? 'legendary' : 'common']">
            <div mat-list-avatar [matBadge]="contract.level | short" matBadgePosition="above before">
              <img mat-list-avatar [src]="contract.hero.image">
            </div>
            <div mat-line>{{ contract.hero.name | translate:{name:contract.name} }}</div>
            <div mat-line class="mat-card-subtitle" [innerHTML]="contract.hero.description | translate | icon:contract.hero"></div>
            <mat-icon>open_with</mat-icon>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-content>
        <p [innerHTML]="'kingdom.guard.help' | translate | icon"></p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
