.kingdom-tavern {
  padding: 10px;
  .handle {
    &:hover {
      cursor: move;
      background-color: #303030;
    }
    &:active {
      cursor: grabbing;
    }
  }
  ::ng-deep .mat-list-base {
    padding-top: 0;
    min-height: 60px;
    border: 2px dashed rgba(255, 255, 255, 0.12);
  }
}
