<div class="kingdom-tavern" fxLayout="row wrap" fxLayoutGap="10px grid" cdkDropListGroup>

  <div fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/images/icons/tavern.png" alt="{{ 'kingdom.tavern.name' | translate }}">
        <mat-card-title >{{ 'kingdom.tavern.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'kingdom.tavern.description' | translate }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        {{ 'kingdom.tavern.help' | translate }}
      </mat-card-content>

      <mat-card-content>
        <mat-list
          id="kingdom-tavern"
          cdkDropList
          cdkDropListOrientation="vertical"
          (cdkDropListDropped)="assignArtifact($event)"
          [cdkDropListData]="kingdomArtifacts">
          <mat-list-item *ngFor="let artifact of kingdomArtifacts" cdkDrag class="handle" [id]="artifact.fid">
            <div mat-list-avatar>
              <img mat-list-avatar [src]="artifact.join.image" alt="{{ artifact.join.name | translate }}"/>
            </div>
            <div mat-line>{{ artifact.join.name | translate }}</div>
            <div mat-line class="mat-card-subtitle">{{ artifact.join.description | translate }}</div>
            <mat-icon>open_with</mat-icon>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100" *ngFor="let contract of kingdomContracts">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar [matBadge]="contract.level" matBadgePosition="above before" [src]="contract.join.image" alt="{{ contract.join.name | translate }}">
        <mat-card-title >{{ contract.join.name | translate }}</mat-card-title>
        <mat-card-subtitle>{{ contract.join.description | translate }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-list
          [id]="contract.fid"
          cdkDropList
          cdkDropListOrientation="vertical"
          (cdkDropListDropped)="assignArtifact($event)"
          [cdkDropListData]="contract.contractArtifacts">
          <mat-list-item *ngFor="let artifact of contract.contractArtifacts" cdkDrag class="handle" [id]="artifact.fid">
            <div mat-list-avatar>
              <img mat-list-avatar [src]="artifact.join.image" alt="{{ artifact.join.name | translate }}"/>
            </div>
            <div mat-line>{{ artifact.join.name | translate }}</div>
            <div mat-line class="mat-card-subtitle">{{ artifact.join.description | translate }}</div>
            <mat-icon>open_with</mat-icon>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

</div>
