@import "src/styles/colors.scss";

.app-landing {
  position: relative;
  background-color: #681194; // fixed color of last layer
  /* PARALLAX */
  .animated {
    animation-fill-mode: backwards;
  }
  .parallax {
    perspective: 100px;
    height: calc(100vh - 64px);
    overflow: hidden auto;
    background: url('/assets/images/background/parallax.png') no-repeat center center fixed;
    background-size: cover;
  }
  .parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .parallax-layer-1 {
    // background-image: url("/assets/images/parallax/layer1.png");
  }
  .parallax-layer-2 {
    // background-image: url("/assets/images/parallax/layer2.png");
  }
  .parallax-layer-3 {
    // background-image: url("/assets/images/parallax/layer3.png");
  }
  .parallax-layer-4 {
    display: flex;
    justify-content: center;
    .landing-title {
      position: absolute;
      top: 50px;
      text-align: center;
      .mat-display-4 {
        margin-bottom: 0px;
      }
    }
  }
  .parallax-layer-5 {
    // background-image: url("/assets/images/parallax/layer5.png");
  }
  .parallax-layer-6 {
    // background-image: url("/assets/images/parallax/layer6.png");
  }
  .parallax-layer-7 {
    // background-image: url("/assets/images/parallax/layer7.png");
  }
  .parallax-layer-8 {
    // background-image: url("/assets/images/parallax/layer8.png");
  }
  .parallax-layer-9 {
    // background-image: url("/assets/images/parallax/layer9.png");
  }
  .parallax-layer-10 {
    // background-image: url("/assets/images/parallax/layer10.png");
  }
  $parallax-layers: 10;
  @for $i from 1 through $parallax-layers {
    $x: ($parallax-layers - $i) * 0.5;
    .parallax-layer-#{$i} {
      // transform: translateZ(-100px * $x) scale($x + 1);
    }
  }
  .parallax-content {
    background-color: #160d25;
    display: block;
    position: absolute;
    // top: 100%;
    top: calc(100% - 40px); // to be able to see more content
    left: 0;
    right: 0;
    .wrapper {
      padding: 20px;
      max-width: 1080px;
      margin: 0 auto 0 auto;
    }
    .app-landing-content {
      .legendary {
        box-shadow: 0px 0px 10px 5px $legendary-color;
        border-color: $legendary-color !important;
        &.god-avatar {
          border-radius: 4px !important;
        }
      }
      .image-responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: auto;
          max-width: 256px;
        }
      }
      p {
        margin: 0 !important;
      }
      p + img {
        margin-top: 40px;
      }
      .image-wrapper {
        position: relative;
        svg {
          position: relative;
        }
        .image-desktop,
        .image-mobile {
          width: calc(100% - 20px);
          border-radius: 4px;
          box-sizing: border-box;
          position: absolute;
          top: 0;
          left: -20px;
          right: 0;
          bottom: 0;
          margin: auto;
          height: auto;
        }
        .image-mobile {
          max-width: 50%;
        }
      }
      .image-icons,
      .faction-icons {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 2px solid $primary-color;
          margin: 10px;
          box-sizing: content-box;
        }
      }
      .faction-icons {
        flex-wrap: wrap;
        margin-top: auto !important;
      }
      .center {
        text-align: center;
      }
      h1.mat-h1 {
        margin: 16px 0 !important;
      }
      h1.mat-display-3.margened {
        margin: 64px 0 !important;
      }
      .mat-display-3::after {
        content: '';
        border-bottom: 8px solid $primary-color;
        width: 200px;
        display: block;
        margin: 20px auto auto auto;
      }
      .play-button {
        margin-top: 50px;
      }
    }
    .app-landing-footer {
      svg {
        margin-bottom: -5px;
        margin-top: -200px;
      }
      .retribution {
        background-color: $primary-color;
        width: 100%;
        padding: 20px;
      }
    }
  }
}

// responsive
@media screen and (max-width: 960px) {
  .app-landing {
    .parallax {
      height: calc(100vh - 56px);
    }
    .landing-title {
      top: 10px !important;
      .mat-display-4 {
        font-size: 3.5rem !important;
        line-height: 1 !important;
      }
    }
    .faction-icons img {
      width: 40px !important;
      height: 40px !important;
    }
    .app-landing-footer {
      svg {
        margin-top: 0 !important;
      }
    }
  }
}
