<div class="app-landing" (scroll)="parallax($event)">
  <section id="parallax">
    <div id="parallax-layer1" class="parallax-layer" data-type="parallax" data-depth="0.02"></div>
    <div id="parallax-layer2" class="parallax-layer" data-type="parallax" data-depth="0.05"></div>
    <div id="parallax-layer3" class="parallax-layer" data-type="parallax" data-depth="0.11"></div>
    <div id="parallax-layer4" class="parallax-layer" data-type="parallax" data-depth="0.11">
      <div class="landing-title">
        <h1 class="mat-display-4">{{ 'landing.title.name' | translate }}</h1>
        <h3 class="mat-subheading-2">{{ 'landing.title.description' | translate }}</h3>
      </div>
    </div>
    <div id="parallax-layer5" class="parallax-layer" data-type="parallax" data-depth="0.16"></div>
    <div id="parallax-layer6" class="parallax-layer" data-type="parallax" data-depth="0.26"></div>
    <div id="parallax-layer7" class="parallax-layer" data-type="parallax" data-depth="0.36"></div>
    <div id="parallax-layer8" class="parallax-layer" data-type="parallax" data-depth="0.49"></div>
    <div id="parallax-layer9" class="parallax-layer" data-type="parallax" data-depth="0.69"></div>
    <div id="parallax-layer10" class="parallax-layer" data-type="parallax" data-depth="1.00"></div>
  </section>
  <section id="content">
    <div class="wrapper">
      <div class="content" fxLayout="row wrap" fxLayoutGap="50px grid">
        <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" class="center" fxFlexOrder.xs="1">
          <h1 class="mat-display-3">{{ 'landing.choose.name' | translate }}</h1>
          <p>{{ 'landing.choose.description' | translate }}</p>
        </div>
        <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="100" class="center" class="image-responsive">
          <img src="/assets/images/factions/black.png">
          <h1 class="mat-h1">{{ 'faction.black.name' | translate }}</h1>
        </div>
        <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="100" class="center" class="image-responsive">
          <img src="/assets/images/factions/green.png">
          <h1 class="mat-h1">{{ 'faction.green.name' | translate }}</h1>
        </div>
        <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="100" class="center" class="image-responsive">
          <img src="/assets/images/factions/blue.png">
          <h1 class="mat-h1">{{ 'faction.blue.name' | translate }}</h1>
        </div>
        <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="100" class="center" class="image-responsive">
          <img src="/assets/images/factions/red.png">
          <h1 class="mat-h1">{{ 'faction.red.name' | translate }}</h1>
        </div>
        <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="100" class="center" class="image-responsive">
          <img src="/assets/images/factions/white.png">
          <h1 class="mat-h1">{{ 'faction.white.name' | translate }}</h1>
        </div>
        <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="image-responsive" fxFlexOrder.xs="4">
          <img src="/assets/images/icons/sorcery.png">
        </div>
        <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxFlexOrder.xs="5">
          <h1 class="mat-h1">{{ 'landing.conjure.name' | translate }}</h1>
          <p>{{ 'landing.conjure.description' | translate }}</p>
        </div>
        <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxFlexOrder.xs="7">
          <h1 class="mat-h1">{{ 'landing.army.name' | translate }}</h1>
          <p>{{ 'landing.army.description' | translate }}</p>
        </div>
        <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="image-responsive" fxFlexOrder.xs="6">
          <img src="/assets/images/icons/army.png">
        </div>
        <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="image-responsive" fxFlexOrder.xs="8">
          <img src="/assets/images/icons/map.png">
        </div>
        <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxFlexOrder.xs="9">
          <h1 class="mat-h1">{{ 'landing.map.name' | translate }}</h1>
          <p>{{ 'landing.map.description' | translate }}</p>
        </div>
        <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlexOrder.xs="10">
          <img class="image-map" src="/assets/images/background/world.jpg">
        </div>
        <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxFlexOrder.xs="12">
          <h1 class="mat-h1">{{ 'landing.tavern.name' | translate }}</h1>
          <p>{{ 'landing.tavern.description' | translate }}</p>
        </div>
        <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="image-responsive" fxFlexOrder.xs="11">
          <img src="/assets/images/icons/tavern.png">
        </div>
        <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="image-responsive" fxFlexOrder.xs="13">
          <img src="/assets/images/icons/auction.png">
        </div>
        <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxFlexOrder.xs="14">
          <h1 class="mat-h1">{{ 'landing.auction.name' | translate }}</h1>
          <p>{{ 'landing.auction.description' | translate }}</p>
        </div>
        <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxFlexOrder.xs="15">
          <h1 class="mat-h1">{{ 'landing.census.name' | translate }}</h1>
          <p>{{ 'landing.census.description' | translate }}</p>
        </div>
        <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="image-responsive" fxFlexOrder.xs="16">
          <img src="/assets/images/icons/census.png">
        </div>
        <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" class="center" fxFlexOrder.xs="99">
          <h1 class="mat-display-3">{{ 'landing.win.name' | translate }}</h1>
          <a mat-raised-button color="primary" routerLink="/user/login">{{ 'landing.win.play' | translate }}</a>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="social" fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
      <svg style="margin-bottom: -5px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#99009c" fill-opacity="0.4" d="M0,128L48,106.7C96,85,192,43,288,26.7C384,11,480,21,576,64C672,107,768,181,864,197.3C960,213,1056,171,1152,154.7C1248,139,1344,149,1392,154.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
    </div>
  </section>
</div>
