<div class="app-landing" >
  <div class="parallax">
    <!-- PARALLAX https://codepen.io/samdbeckham/pen/OPXPNp -->
    <div class="parallax-layer parallax-layer-1"></div>
    <div class="parallax-layer parallax-layer-2 animated fadeInUp" style="animation-delay: 2250ms"></div>
    <div class="parallax-layer parallax-layer-3 animated fadeInUp" style="animation-delay: 2000ms"></div>
    <div class="parallax-layer parallax-layer-4 animated fadeInUp" style="animation-delay: 1750ms">
      <div class="landing-title">
        <h1 class="mat-display-4">{{ 'landing.title.name' | translate }}</h1>
        <h3 class="mat-subheading-2">{{ 'landing.title.description' | translate }}</h3>
      </div>
    </div>
    <div class="parallax-layer parallax-layer-5 animated fadeInUp" style="animation-delay: 1500ms"></div>
    <div class="parallax-layer parallax-layer-6 animated fadeInUp" style="animation-delay: 1250ms"></div>
    <div class="parallax-layer parallax-layer-7 animated fadeInUp" style="animation-delay: 1000ms"></div>
    <div class="parallax-layer parallax-layer-8 animated fadeInUp" style="animation-delay: 750ms"></div>
    <div class="parallax-layer parallax-layer-9 animated fadeInUp" style="animation-delay: 500ms"></div>
    <!-- LOGIN -->
    <div class="parallax-layer parallax-layer-10 animated fadeInUp" style="animation-delay: 250ms" #login>
      <app-login></app-login>
    </div>
    <!-- CONTENT -->
    <div class="parallax-content" #content>
      <div class="wrapper">
        <div class="app-landing-content" fxLayout="row wrap" fxLayoutGap="20px grid">
           <!-- REALITY -->
           <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" class="center" fxFlexOrder.xs="0">
            <h1 class="mat-display-3">{{ 'landing.reality.name' | translate }}</h1>
          </div>
          <!-- RESURRECTION -->
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="image-responsive" fxFlexOrder.xs="10">
            <img src="/assets/images/landing/resurrection.png" [alt]="'landing.resurrection.name' | translate">
          </div>
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center center" class="center" fxFlexOrder.xs="20">
            <h1 class="mat-h1">{{ 'landing.resurrection.name' | translate }}</h1>
            <p>{{ 'landing.resurrection.description' | translate }}</p>
            <div class="image-icons">
              <img src="/assets/images/categories/melee.png" [alt]="'category.melee.name' | translate">
              <img src="/assets/images/categories/psychic.png" [alt]="'category.psychic.name' | translate">
              <img src="/assets/images/categories/ranged.png" [alt]="'category.ranged.name' | translate">
              <img src="/assets/images/categories/magic.png" [alt]="'category.magic.name' | translate">
              <img src="/assets/images/categories/breath.png" [alt]="'category.breath.name' | translate">
            </div>
          </div>
          <!-- FACTIONS -->
          <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" class="center" fxFlexOrder.xs="30">
            <h1 class="mat-display-3 margened">{{ 'landing.choose.name' | translate }}</h1>
            <p class="mat-subheading-2">{{ 'landing.choose.description' | translate }}</p>
          </div>
          <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="100" class="image-responsive center" fxFlexOrder.xs="40">
            <img src="/assets/images/factions/black.png" [alt]="'faction.black.name' | translate">
            <h1 class="mat-h1">{{ 'faction.black.name' | translate }}</h1>
            <p>{{ 'faction.black.help' | translate }}</p>
            <div class="faction-icons">
              <img src="/assets/images/spells/black/death-decay.png" [alt]="'spell.death-decay.name' | translate">
              <img src="/assets/images/spells/black/necromancy.png" [alt]="'spell.necromancy.name' | translate">
              <img src="/assets/images/spells/black/vampirism.png" [alt]="'spell.vampirism.name' | translate">
              <img src="/assets/images/spells/black/soul-pact.png" class="legendary" [alt]="'spell.soul-pact.name' | translate">
              <img src="/assets/images/spells/black/night-living-dead.png" [alt]="'spell.night-living-dead.name' | translate">
            </div>
          </div>
          <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="100" class="image-responsive center" fxFlexOrder.xs="50">
            <img src="/assets/images/factions/green.png" [alt]="'faction.green.name' | translate">
            <h1 class="mat-h1">{{ 'faction.green.name' | translate }}</h1>
            <p>{{ 'faction.green.help' | translate }}</p>
            <div class="faction-icons">
              <img src="/assets/images/spells/green/natures-favor.png" class="legendary" [alt]="'spell.natures-favor.name' | translate">
              <img src="/assets/images/spells/green/venom.png" [alt]="'spell.venom.name' | translate">
              <img src="/assets/images/spells/green/druidism.png" [alt]="'spell.druidism.name' | translate">
              <img src="/assets/images/spells/green/climate-control.png" [alt]="'spell.climate-control.name' | translate">
              <img src="/assets/images/spells/green/calm.png" [alt]="'spell.calm.name' | translate">
            </div>
          </div>
          <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="100" class="image-responsive center" fxFlexOrder.xs="60">
            <img src="/assets/images/factions/blue.png" [alt]="'faction.blue.name' | translate">
            <h1 class="mat-h1">{{ 'faction.blue.name' | translate }}</h1>
            <p>{{ 'faction.blue.help' | translate }}</p>
            <div class="faction-icons">
              <img src="/assets/images/spells/blue/freeze.png" [alt]="'spell.freeze.name' | translate">
              <img src="/assets/images/spells/blue/avarice.png" [alt]="'spell.avarice.name' | translate">
              <img src="/assets/images/spells/blue/laziness.png" class="legendary" [alt]="'spell.laziness.name' | translate">
              <img src="/assets/images/spells/blue/confuse.png" [alt]="'spell.confuse.name' | translate">
              <img src="/assets/images/spells/blue/invisibility.png" [alt]="'spell.invisibility.name' | translate">
            </div>
          </div>
          <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="100" class="image-responsive center" fxFlexOrder.xs="70">
            <img src="/assets/images/factions/red.png" [alt]="'faction.red.name' | translate">
            <h1 class="mat-h1">{{ 'faction.red.name' | translate }}</h1>
            <p>{{ 'faction.red.help' | translate }}</p>
            <div class="faction-icons">
              <img src="/assets/images/spells/red/frenzy.png" [alt]="'spell.frenzy.name' | translate">
              <img src="/assets/images/spells/red/inferno.png" class="legendary" [alt]="'spell.inferno.name' | translate">
              <img src="/assets/images/spells/red/volcano.png" [alt]="'spell.volcano.name' | translate">
              <img src="/assets/images/spells/red/succubus-kiss.png" [alt]="'spell.succubus-kiss.name' | translate">
              <img src="/assets/images/spells/red/battle-chant.png" [alt]="'spell.battle-chant.name' | translate">
            </div>
          </div>
          <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="20" fxFlex.xs="100" class="image-responsive center" fxFlexOrder.xs="80">
            <img src="/assets/images/factions/white.png" [alt]="'faction.white.name' | translate">
            <h1 class="mat-h1">{{ 'faction.white.name' | translate }}</h1>
            <p>{{ 'faction.white.help' | translate }}</p>
            <div class="faction-icons">
              <img src="/assets/images/spells/white/prayer.png" [alt]="'spell.prayer.name' | translate">
              <img src="/assets/images/spells/white/endurance.png" [alt]="'spell.endurance.name' | translate">
              <img src="/assets/images/spells/white/exorcism.png" [alt]="'spell.exorcism.name' | translate">
              <img src="/assets/images/spells/white/blaze.png" [alt]="'spell.blaze.name' | translate">
              <img src="/assets/images/spells/white/miracle.png" class="legendary" [alt]="'spell.miracle.name' | translate">
            </div>
          </div>
          <!-- DESTINY -->
          <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" class="center" fxFlexOrder.xs="90">
            <h1 class="mat-display-3 margened">{{ 'landing.destiny.name' | translate }}</h1>
          </div>
          <!-- CITY -->
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center center" class="center" fxFlexOrder.xs="110">
            <h1 class="mat-h1">{{ 'landing.city.name' | translate }}</h1>
            <p>{{ 'landing.city.description' | translate }}</p>
            <div class="image-icons">
              <img src="/assets/images/structures/farm.png" [alt]="'structure.farm.name' | translate">
              <img src="/assets/images/structures/fortress.png" [alt]="'structure.fortress.name' | translate">
              <img src="/assets/images/structures/academy.png" [alt]="'structure.academy.name' | translate">
              <img src="/assets/images/structures/node.png" [alt]="'structure.node.name' | translate">
              <img src="/assets/images/structures/village.png" [alt]="'structure.village.name' | translate">
            </div>
          </div>
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="image-responsive" fxFlexOrder.xs="100">
            <img src="/assets/images/landing/city.png" [alt]="'landing.city.name' | translate">
          </div>
          <!-- CENSUS -->
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="image-responsive" fxFlexOrder.xs="120">
            <img src="/assets/images/landing/sorcery.png" [alt]="'landing.conjure.name' | translate">
          </div>
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center center" class="center" fxFlexOrder.xs="130">
            <h1 class="mat-h1">{{ 'landing.conjure.name' | translate }}</h1>
            <p>{{ 'landing.conjure.description' | translate }}</p>
            <div class="image-icons">
              <img src="/assets/images/spells/red/fireball.png" [alt]="'spell.fireball.name' | translate">
              <img src="/assets/images/spells/black/terror.png" [alt]="'spell.terror.name' | translate">
              <img src="/assets/images/spells/green/ambush.png" [alt]="'spell.ambush.name' | translate">
              <img src="/assets/images/spells/white/resurrection.png" class="spell" [alt]="'unit.resurrection.name' | translate">
              <img src="/assets/images/spells/blue/fog.png" [alt]="'spell.fog.name' | translate">
            </div>
          </div>
          <!-- ARMY -->
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center center" class="center" fxFlexOrder.xs="150">
            <h1 class="mat-h1">{{ 'landing.army.name' | translate }}</h1>
            <p>{{ 'landing.army.description' | translate }}</p>
            <div class="image-icons">
              <img src="/assets/images/units/black/zombie.png" [alt]="'unit.zombie.name' | translate">
              <img src="/assets/images/units/blue/mage.png" [alt]="'unit.mage.name' | translate">
              <img src="/assets/images/units/green/hydra.png" class="legendary" [alt]="'unit.hydra.name' | translate">
              <img src="/assets/images/units/red/ogre.png" [alt]="'unit.ogre.name' | translate">
              <img src="/assets/images/units/white/paladin.png" [alt]="'unit.paladin.name' | translate">
            </div>
          </div>
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="image-responsive" fxFlexOrder.xs="140">
            <img src="/assets/images/landing/army.png" [alt]="'landing.army.name' | translate">
          </div>
          <!-- MAP -->
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="image-responsive" fxFlexOrder.xs="160">
            <img src="/assets/images/landing/map.png" [alt]="'landing.map.name' | translate">
          </div>
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center center" class="center" fxFlexOrder.xs="170">
            <h1 class="mat-h1">{{ 'landing.map.name' | translate }}</h1>
            <p>{{ 'landing.map.description' | translate }}</p>
            <div class="image-icons">
              <img src="/assets/images/locations/graveyard.png" [alt]="'location.graveyard.name' | translate">
              <img src="/assets/images/locations/forest.png" [alt]="'location.forest.name' | translate">
              <img src="/assets/images/locations/cathedral.png" [alt]="'location.cathedral.name' | translate">
              <img src="/assets/images/locations/mountain.png" [alt]="'location.mountain.name' | translate">
              <img src="/assets/images/locations/lake.png" [alt]="'location.lake.name' | translate">
            </div>
          </div>
          <!-- DESKTOP -->
          <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlexOrder.xs="180" class="image-wrapper">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path fill="#99009C" d="M45.7,-80.2C58.9,-71.5,69.1,-58.6,75.7,-44.6C82.2,-30.5,85.2,-15.3,86.4,0.7C87.6,16.7,87.1,33.3,79.9,46.3C72.7,59.3,58.8,68.5,44.4,76.2C30,83.9,15,90,-0.6,91.1C-16.2,92.1,-32.4,88.2,-44.9,79.4C-57.3,70.6,-66,56.8,-74.4,42.8C-82.8,28.7,-90.9,14.4,-92.7,-1.1C-94.6,-16.5,-90.2,-33.1,-80.3,-44.4C-70.3,-55.7,-54.8,-61.8,-40.5,-69.9C-26.1,-78,-13.1,-88.1,1.6,-90.9C16.2,-93.6,32.5,-89,45.7,-80.2Z" transform="translate(100 100)" /></svg>
            <img class="image-desktop mat-elevation-z8" src="/assets/images/landing/desktop.png" [alt]="'landing.title.name' | translate">
          </div>
          <!-- TAVERN -->
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center center" class="center" fxFlexOrder.xs="200">
            <h1 class="mat-h1">{{ 'landing.tavern.name' | translate }}</h1>
            <p>{{ 'landing.tavern.description' | translate }}</p>
            <div class="image-icons">
              <img src="/assets/images/heroes/blue/shaman.png" class="legendary" [alt]="'hero.shaman.name' | translate">
              <img src="/assets/images/heroes/red/dragon-rider.png" [alt]="'hero.dragon-rider.name' | translate">
              <img src="/assets/images/heroes/white/trader.png" class="legendary" [alt]="'hero.trader.name' | translate">
              <img src="/assets/images/heroes/black/crypt-keeper.png" [alt]="'hero.crypt-keeper.name' | translate">
              <img src="/assets/images/heroes/blue/elementalist.png" class="legendary" [alt]="'hero.elementalist.name' | translate">
            </div>
          </div>
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="image-responsive" fxFlexOrder.xs="190">
            <img src="/assets/images/landing/tavern.png" [alt]="'landing.tavern.name' | translate">
          </div>
          <!-- AUCTION -->
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="image-responsive" fxFlexOrder.xs="210">
            <img src="/assets/images/landing/auction.png" [alt]="'landing.auction.name' | translate">
          </div>
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center center" class="center" fxFlexOrder.xs="220">
            <h1 class="mat-h1">{{ 'landing.auction.name' | translate }}</h1>
            <p>{{ 'landing.auction.description' | translate }}</p>
            <div class="image-icons">
              <img src="/assets/images/items/treasure-chest.png" [alt]="'item.treasure-chest.name' | translate">
              <img src="/assets/images/items/lucky-paw.png" class="legendary" [alt]="'item.lucky-paw.name' | translate">
              <img src="/assets/images/items/mana-vortex.png" [alt]="'item.mana-vortex.name' | translate">
              <img src="/assets/images/items/rattle.png" class="legendary" [alt]="'item.rattle.name' | translate">
              <img src="/assets/images/items/valhalla-horn.png" [alt]="'item.valhalla-horn.name' | translate">
            </div>
          </div>
          <!-- CLAN -->
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center center" class="center" fxFlexOrder.xs="240">
            <h1 class="mat-h1">{{ 'landing.clan.name' | translate }}</h1>
            <p>{{ 'landing.clan.description' | translate }}</p>
            <div class="image-icons">
              <img src="/assets/images/clans/axe.png" [alt]="'kingdom.clan.name' | translate">
              <img src="/assets/images/clans/crow.png" [alt]="'kingdom.clan.name' | translate">
              <img src="/assets/images/clans/hat.png" [alt]="'kingdom.clan.name' | translate">
              <img src="/assets/images/clans/rip.png" [alt]="'kingdom.clan.name' | translate">
              <img src="/assets/images/clans/helmet.png" [alt]="'kingdom.clan.name' | translate">
            </div>
          </div>
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="image-responsive" fxFlexOrder.xs="230">
            <img src="/assets/images/landing/clan.png" [alt]="'landing.clan.name' | translate">
          </div>
          <!-- TEMPLE -->
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="image-responsive" fxFlexOrder.xs="250">
            <img src="/assets/images/landing/temple.png" [alt]="'landing.temple.name' | translate">
          </div>
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center center" class="center" fxFlexOrder.xs="260">
            <h1 class="mat-h1">{{ 'landing.temple.name' | translate }}</h1>
            <p>{{ 'landing.temple.description' | translate }}</p>
            <div class="image-icons">
              <img src="/assets/images/gods/death.png" class="legendary god-avatar" [alt]="'god.death.name' | translate">
              <img src="/assets/images/gods/famine.png" class="legendary god-avatar" [alt]="'god.famine.name' | translate">
              <img src="/assets/images/gods/void.png" class="legendary god-avatar" [alt]="'god.void.name' | translate">
              <img src="/assets/images/gods/war.png" class="legendary god-avatar" [alt]="'god.war.name' | translate">
              <img src="/assets/images/gods/pestilence.png" class="legendary god-avatar" [alt]="'god.pestilence.name' | translate">
            </div>
          </div>
          <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxFlexOrder.xs="270" class="image-wrapper">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path fill="#99009C" d="M35.5,-58.4C46,-48.6,54.5,-38.6,63,-26.8C71.6,-14.9,80.3,-1,78,10.8C75.6,22.7,62.3,32.6,50.8,41.8C39.3,51,29.7,59.5,16.8,68.3C4,77,-11.9,86,-27.8,85.5C-43.7,85.1,-59.5,75.2,-63.4,60.6C-67.2,46,-59,26.6,-58.3,10.4C-57.6,-5.9,-64.3,-19.2,-62.7,-31.1C-61.1,-43,-51.2,-53.6,-39.3,-62.8C-27.5,-72,-13.7,-79.9,-0.6,-78.9C12.5,-78,25.1,-68.2,35.5,-58.4Z" transform="translate(100 100)" /></svg>
            <img class="image-mobile mat-elevation-z8" src="/assets/images/landing/mobile.png" [alt]="'landing.title.name' | translate">
          </div>
          <!-- VICTORY -->
          <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" class="center" fxFlexOrder.xs="280">
            <h1 class="mat-display-3 margened">{{ 'landing.victory.name' | translate }}</h1>
          </div>
          <!-- STRATEGY -->
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center center" class="center" fxFlexOrder.xs="300">
            <h1 class="mat-h1">{{ 'landing.strategy.name' | translate }}</h1>
            <p>{{ 'landing.strategy.description' | translate }}</p>
            <div class="image-icons">
              <img src="/assets/images/resources/gold.png" [alt]="'resource.gold.name' | translate">
              <img src="/assets/images/resources/mana.png" [alt]="'resource.mana.name' | translate">
              <img src="/assets/images/resources/population.png" [alt]="'resource.population.name' | translate">
              <img src="/assets/images/resources/land.png" [alt]="'resource.land.name' | translate">
              <img src="/assets/images/resources/turn.png" [alt]="'resource.turn.name' | translate">
            </div>
          </div>
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="image-responsive" fxFlexOrder.xs="290">
            <img src="/assets/images/landing/strategy.png" [alt]="'landing.strategy.name' | translate">
          </div>
          <!-- LEGEND -->
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" class="image-responsive" fxFlexOrder.xs="310">
            <img src="/assets/images/landing/legend.png" [alt]="'landing.legend.name' | translate">
          </div>
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center center" class="center" fxFlexOrder.xs="320">
            <h1 class="mat-h1">{{ 'landing.legend.name' | translate }}</h1>
            <p>{{ 'landing.legend.description' | translate }}</p>
            <div class="image-icons">
              <img src="/assets/images/categories/fire.png" [alt]="'category.fire.name' | translate">
              <img src="/assets/images/categories/holy.png" [alt]="'category.holy.name' | translate">
              <img src="/assets/images/categories/lightning.png" [alt]="'category.lightning.name' | translate">
              <img src="/assets/images/categories/poison.png" [alt]="'category.poison.name' | translate">
              <img src="/assets/images/categories/cold.png" [alt]="'category.cold.name' | translate">
            </div>
          </div>
          <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" class="center" fxFlexOrder.xs="330" id="legend">
            <app-legend></app-legend>
            <a mat-raised-button color="primary" class="play-button" (click)="domService.scrollToElement(login)">{{ 'landing.title.play' | translate }}</a>
          </div>
        </div>
      </div>
      <!-- FOOTER -->
      <div class="app-landing-footer">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#99009c" fill-opacity="1" d="M0,128L48,144C96,160,192,192,288,213.3C384,235,480,245,576,240C672,235,768,213,864,213.3C960,213,1056,235,1152,208C1248,181,1344,107,1392,69.3L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
        <div class="retribution" fxLayout="row wrap" fxLayoutAlign="center center">
          <a mat-button href="https://www.freepik.com/free-photos-vectors/business">Freepik Images</a>
          <a mat-button href="https://assetstore.unity.com/publishers/13229">Unity Store</a>
          <a mat-button href="https://www.mapbox.com/mapbox-studio/">Mapbox Studio</a>
          <a mat-button href="https://material.angular.io/">Angular Material</a>
          <a mat-button href="https://material.io/resources/landing/">Material Icons</a>
          <a mat-button href="https://www.ngxs.io/">Angular NGXS</a>
          <a mat-button href="https://fonts.google.com/">Google Fonts</a>
          <a mat-button href="https://firebase.google.com/docs/firestore">Cloud Firestore</a>
          <a mat-button href="https://getwaves.io/">Get Waves</a>
          <a mat-button href="https://www.blobmaker.app/">Blob Maker</a>
        </div>
      </div>
    </div>
  </div>
</div>
