@import '~@angular/material/theming';

$md-palette: (
  50 : #f3e0f3,
  100 : #e0b3e1,
  200 : #cc80ce,
  300 : #b84dba,
  400 : #a826ab,
  500 : #99009c,
  600 : #910094,
  700 : #86008a,
  800 : #7c0080,
  900 : #6b006e,
  A100 : #fb9dff,
  A200 : #f96aff,
  A400 : #f737ff,
  A700 : #f61eff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$theme-primary: mat-palette($md-palette);
$theme-accent: mat-palette($mat-green, 800);
$theme-warn: mat-palette($mat-red, 800);
$theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
@include angular-material-theme($theme);

$theme-black: mat-palette($mat-purple, 900);
$theme-red: mat-palette($mat-red, 900);
$theme-green: mat-palette($mat-green, 900);
$theme-blue: mat-palette($mat-blue, 900);
$theme-white: mat-palette($mat-blue-grey, 200);
$theme-common: mat-palette($mat-brown, 900);

$primary-color: mat-color($theme-primary);
$accent-color: mat-color($theme-accent);
$warn-color: mat-color($theme-warn);

$black-color: mat-color($theme-black);
$red-color: mat-color($theme-red);
$green-color: mat-color($theme-green);
$blue-color: mat-color($theme-blue);
$white-color: mat-color($theme-white);

// $common-color: #373638;
$common-color: mat-color($theme-common);
$legendary-color: darkgoldenrod;
