@use '@angular/material' as mat;
@import url("https://use.typekit.net/jnq3uxd.css");

//========================================================================================
/*                                                                                      *
 *                                         FONTS                                        *
 *                                                                                      */
//========================================================================================

// https://github.com/angular/components/blob/master/src/material/core/typography/_typography.scss
@function define-typography-level(
  $font-size,
  $line-height: $font-size,
  $font-weight: 400,
  $font-family: null,
  $letter-spacing: normal) {
  @return (
    font-size: $font-size,
    line-height: $line-height,
    font-weight: $font-weight,
    font-family: $font-family,
    letter-spacing: $letter-spacing
  );
}
$custom-typography: mat.define-typography-config(
  $font-family: "'Open Sans', sans-serif",
  $display-4: define-typography-level(8rem, 8rem, 300, $letter-spacing: -0.05em),
  $display-3: define-typography-level(4rem, 4rem, 400, $letter-spacing: -0.02em),
  $display-2: define-typography-level(3.21rem, 3.42rem, 400, $letter-spacing: -0.005em),
  $display-1: define-typography-level(2.42rem, 2.85rem, 400),
  $headline: define-typography-level(1.71rem, 2.28rem, 400),
  $title: define-typography-level(1.42rem, 2.28rem, 500),
  $subheading-2: define-typography-level(1.14rem, 2rem, 400),
  $subheading-1: define-typography-level(1.07rem, 1.71rem, 400),
  $body-2: define-typography-level(1rem, 1.71rem, 500),
  $body-1: define-typography-level(1rem, 1.42rem, 400),
  $caption: define-typography-level(0.85rem, 1.42rem, 400),
  $button: define-typography-level(1rem, 1rem, 500),
  $input: define-typography-level(inherit, 1.125, 400),
);
@include mat.core($custom-typography);

// font headings
.mat-card-header .mat-card-title,
.mat-card-title,
.mat-list-text .mat-line:first-of-type,
.mat-toolbar .logo,
.mat-dialog-title,
.mat-button-base,
.mat-expansion-panel-header,
.app-landing h1,.app-landing h3 {
  font-family: 'Uncial Antiqua', cursive !important;
}
html {
  font-size: 14px;
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 13px;
  }
}
@media screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }
}

//========================================================================================
/*                                                                                      *
 *                                        COLORS                                        *
 *                                                                                      */
//========================================================================================

// http://mcg.mbitson.com/
$md-palette: (
  50 : #f3e0f3,
  100 : #e0b3e1,
  200 : #cc80ce,
  300 : #b84dba,
  400 : #a826ab,
  500 : #99009c,
  600 : #910094,
  700 : #86008a,
  800 : #7c0080,
  900 : #6b006e,
  A100 : #fb9dff,
  A200 : #f96aff,
  A400 : #f737ff,
  A700 : #f61eff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$theme-primary: mat.define-palette($md-palette);
$theme-accent: mat.define-palette(mat.$green-palette, 800);
$theme-warn: mat.define-palette(mat.$red-palette, 800);
$theme: mat.define-dark-theme($theme-primary, $theme-accent, $theme-warn);
@include mat.all-component-themes($theme);

$theme-black: mat.define-palette(mat.$purple-palette, 900);
$theme-red: mat.define-palette(mat.$red-palette, 900);
$theme-green: mat.define-palette(mat.$green-palette, 900);
$theme-blue: mat.define-palette(mat.$blue-palette, 900);
$theme-white: mat.define-palette(mat.$blue-grey-palette, 200);
$theme-common: mat.define-palette(mat.$brown-palette, 900);

$primary-color: mat.get-color-from-palette($theme-primary);
$accent-color: mat.get-color-from-palette($theme-accent);
$warn-color: mat.get-color-from-palette($theme-warn);

$black-color: mat.get-color-from-palette($theme-black);
$red-color: mat.get-color-from-palette($theme-red);
$green-color: mat.get-color-from-palette($theme-green);
$blue-color: mat.get-color-from-palette($theme-blue);
$white-color: mat.get-color-from-palette($theme-white);

$common-color: mat.get-color-from-palette($theme-common);
$legendary-color: darkgoldenrod;
$gray-color: rgba(255, 255, 255, 0.7);

// https://sass-lang.com/documentation/breaking-changes/css-vars
:root { // to extract with JS and use with external libraries (chartjs, mapboxgljs, etc)
  --primary-color: #{$primary-color};
  --accent-color: #{$accent-color};
  --warn-color: #{$warn-color};
}

//========================================================================================
/*                                                                                      *
 *                                        LAYOUT                                        *
 *                                                                                      */
//========================================================================================

html, body {
  height: 100%;
}
body {
  margin: 0;
  user-select: none;
}

//========================================================================================
/*                                                                                      *
 *                                         LISTS                                        *
 *                                                                                      */
//========================================================================================

$list-item-height: 60px;
@keyframes legendary {
  0%  {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.mat-list {
  min-height: $list-item-height;
  max-height: calc(($list-item-height * 5) - ($list-item-height / 2));
  overflow: hidden auto;
  box-sizing: border-box;
  &.dotted {
    padding-top: 0;
    border: 2px dashed $primary-color;
    box-sizing: content-box;
    &.undotted {
      border-color: $gray-color;
    }
  }
  .mat-list-item {
    min-height: $list-item-height !important;
    max-height: $list-item-height !important;
    height: $list-item-height !important;
    overflow: hidden;
    &.handle {
      &:hover {
        cursor: move;
        background-color: rgba(255, 255, 255, 0.04);
      }
      &:active {
        cursor: grabbing;
      }
    }
  }
  .mat-list-item.grey .mat-list-item-content,
  .mat-list-item.common .mat-list-item-content {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, $common-color 50%, rgba(255,255,255,0) 100%);
  }
  .mat-list-item.black .mat-list-item-content {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, $black-color 50%, rgba(255,255,255,0) 100%);
  }
  .mat-list-item.red .mat-list-item-content {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, $red-color 50%, rgba(255,255,255,0) 100%);
  }
  .mat-list-item.green .mat-list-item-content {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, $green-color 50%, rgba(255,255,255,0) 100%);
  }
  .mat-list-item.blue .mat-list-item-content {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, $blue-color 50%, rgba(255,255,255,0) 100%);
  }
  .mat-list-item.white .mat-list-item-content {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, $white-color 50%, rgba(255,255,255,0) 100%);
  }
  .mat-list-item.legendary {
    .mat-list-avatar.mat-badge-before img.mat-list-avatar {
      box-shadow: 0px 0px 10px 5px $legendary-color;
      border-color: $legendary-color;
    }
  }
}
.mat-list-base {
  position: relative;
  padding-top: 0px !important;
  .mat-list-avatar {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    &.squared {
      border-radius: 0 !important;
    }
  }
  .mat-subheader:first-child {
    margin-top: 0 !important;
  }
  .placeholder {
    position: absolute;
    color: $gray-color;
    font-size: 0.85rem;
    min-height: $list-item-height;
    font-style: italic;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.mat-list-base:not(.mat-nav-list) {
  img.mat-list-avatar {
    box-sizing: border-box;
    border: 2px solid $primary-color;
  }
}
.mat-list-base:not(.supply-list) {
  .mat-list-item {
    box-sizing: border-box;
    &+ .mat-list-item {
      border-top: 1px solid rgba(255, 255, 255, 0.12);
    }
  }
  .mat-line {
    white-space: pre-wrap !important;
    line-height: 1.25 !important;
  }
  .mat-list-item-content {
    .mat-list-avatar:nth-of-type(2) {
      order: 9999;
      margin-left: 16px;
    }
    .mat-icon {
      margin-left: 16px;
    }
  }
  .mat-progress-bar {
    margin-top: 5px;
  }
}
.mat-list-item-disabled {
  opacity: 0.5;
}
.mat-list + .mat-list {
  margin-top: 16px;
}

//========================================================================================
/*                                                                                      *
 *                                         CHIPS                                        *
 *                                                                                      */
//========================================================================================

.mat-chip-list {
  pointer-events: none;
}
.mat-standard-chip {
  min-height: 26px !important;
  padding: 8px !important;
  margin: 2px !important;
}
.mat-chip {
  font-size: 0.85em !important;
  img {
    margin-right: 3px !important;
    margin-left: -3px !important;
  }
  .mat-icon {
    margin-right: 3px !important;
    margin-left: -3px !important;
  }
  &.legendary {
    background-color: $legendary-color !important;
  }
}
.mat-chip-list-wrapper {
  margin: 0 !important;
}

//========================================================================================
/*                                                                                      *
 *                                         CARDS                                        *
 *                                                                                      */
//========================================================================================

.mat-card-header {
  .mat-card-extras {
    margin: 10px 10px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
}
.mat-card {
  .mat-card-header {
    .mat-card-header-text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .mat-card-subtitle {
        margin-bottom: 0;
        white-space: pre-wrap !important;
        line-height: 1.1;
      }
    }
  }
  .mat-card-actions {
    display: flex;
  }
}
.mat-card.map-popup {
  .mat-card-avatar {
    height: 70px !important;
    width: 70px !important;
    border: 2px solid $primary-color;
  }
}
.mat-card:not(.map-popup) {
  .mat-card-header {
    background-color: #212121;
    margin: -16px -16px 0px -16px !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    .mat-card-avatar {
      height: 100px;
      width: auto;
      border-radius: 0;
      border-top-left-radius: 4px;
    }
  }
}
.mat-card-title {
  line-height: 1.25 !important;
  display: inline-block !important;
}
.mat-card-title::after,
.mat-dialog-container .mat-dialog-title::after {
  content: '';
  border-bottom: 8px solid $primary-color;
  width: 100%;
  display: block;
}
.mat-card > .mat-card-actions:last-child {
  margin-bottom: 0 !important;
}
.mat-card,
.mat-bottom-sheet-container,
//.mat-expansion-panel,
.mat-drawer {
  background: url('/assets/images/background/tablet.jpg') no-repeat center center; // fixed
  background-size: cover;
}
.mat-card,
.mat-dialog-container {
  opacity: 0.975;
}
.mat-card-content {
  margin: 16px 0 0 0 !important;
}
.mat-card-image {
  margin: 0 -16px 0 -16px !important;
  border: 2px solid $primary-color;
  box-sizing: border-box;
}
.mat-subheader {
  color: $gray-color;
  font-size: 12px;
  line-height: 8px;
  padding: 8px 0 !important;
}
.mat-subheader,
.mat-card-subtitle {
  font-style: italic;
}
.mat-card-content .mat-subheader {
  height: 40px;
  font-size: 0.85rem;
}

//========================================================================================
/*                                                                                      *
 *                                        TABLES                                        *
 *                                                                                      */
//========================================================================================

.table-responsive,
.table-no-responsive {
  table {
    width: 100%;
  }
  .mat-row:hover {
    background-color: rgba(255, 255, 255, 0.04);
    cursor: pointer;
  }
  .mat-row td {
    border-bottom-width: 0;
  }
  .mat-row::after, .mat-header-row::after, .mat-footer-row::after {
    display: none;
  }
  .table-header {
    padding: 5px;
  }
  .table-filter {
    display: block;
    width: 100%;
  }
  .mat-header-cell {
    flex-wrap: wrap;
  }
  .mat-cell {
    padding: 0 5px !important;
  }
  .mat-list-base {
    width: 100%;
  }
  .mat-form-field-infix {
    width: auto;
  }
  .mat-toolbar {
    background-color: transparent;
    .mat-toolbar-row {
      padding: 0px;
    }
    .mat-mini-fab + .mat-mini-fab {
      margin: 0 0 0 10px;
    }
  }
}
.mat-menu-item.active,
.mat-list-item.active {
  background-color: rgba(255, 255, 255, 0.04);
}
.mat-table,
.mat-paginator {
  background: transparent;
}
@media screen and (max-width: 960px) {
  .table-responsive {
    .mat-list-item-content {
      padding: 0 !important;
    }
    .mat-table {
      border: 0;
      vertical-align: middle;
    }
    .mat-table caption {
      font-size: 1em;
    }
    .mat-table .mat-row {
      display: block;
    }
    .mat-table .mat-row:not(:last-of-type) {
      border-bottom: 3px solid #303030;
    }
    .mat-row, .mat-footer-row {
      min-height: auto;
    }
    .mat-table .mat-cell {
      border-bottom: 1px solid rgba(255, 255, 255, 0.12);
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: $list-item-height;
      overflow: visible;
    }
    .mat-table .mat-cell:before {
      content: attr(data-label);
      font-weight: normal;
      font-size: 0.85rem;
      margin-right: auto;
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
      padding-left: 10px;
    }
    .mat-table .mat-cell:last-child {
      border-bottom: 0;
    }
    .mat-list-base {
      overflow: visible;
      .mat-list-item {
        overflow: visible;
      }
    }
    .mat-list-text {
      width: auto !important;
      padding-left: 10px !important;
    }
    .mat-cell:first-of-type, .mat-header-cell:first-of-type, .mat-footer-cell:first-of-type {
      padding-left: 0;
    }
    .mat-cell:last-of-type, .mat-header-cell:last-of-type, .mat-footer-cell:last-of-type {
      padding-right: 0;
    }
    .mat-paginator-range-label {
      margin: 0;
    }
  }
}

//========================================================================================
/*                                                                                      *
 *                                        BADGES                                        *
 *                                                                                      */
//========================================================================================

.mat-badge-content {
  width: auto !important;
  border-radius: 4px;
  padding: 0 5px;
}
.mat-badge-above .mat-badge-content {
  top: -5px !important;
}
.mat-badge-below .mat-badge-content {
  bottom: -5px !important;
}

//========================================================================================
/*                                                                                      *
 *                                        DIALOGS                                       *
 *                                                                                      */
//========================================================================================

.mat-dialog-container {
  position: relative;
  background: url('/assets/images/background/papire.jpg') no-repeat center center; // fixed
  background-size: cover;
  max-width: 97.5vw !important;
  max-height: 97.5vh !important;
  .mat-dialog-content {
    padding: 6px 24px !important;
    .mat-chip-list:first-of-type {
      margin-top: 12px;
    }
    .mat-subheader + .mat-chip-list {
      margin-top: 0;
    }
  }
  .mat-dialog-title {
    display: inline-block !important;
  }
  .mat-chip-list {
    display: block;
  }
}
.mat-dialog-content::after {
  content: "";
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0px;
  right: 20px;
  background: url('/assets/images/icons/banner.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
.mat-dialog-actions {
  justify-content: flex-end;
}
/*
.cdk-overlay-container {
  z-index: 9999; // to show snackbars above loading
}
*/
.dialog-responsive {
  min-width: 35vw !important;
  width: 35vw !important;
  max-width: 35vw !important;
}
@media screen and (max-width: 1440px) {
  .dialog-responsive {
    min-width: 45vw !important;
    width: 45vw !important;
    max-width: 45vw !important;
  }
}
@media screen and (max-width: 1280px) {
  .dialog-responsive {
    min-width: 60vw !important;
    width: 60vw !important;
    max-width: 60vw !important;
  }
}
@media screen and (max-width: 960px) {
  .dialog-responsive {
    min-width: 75vw !important;
    width: 75vw !important;
    max-width: 75vw !important;
  }
}
@media screen and (max-width: 600px) {
  .dialog-responsive {
    min-width: 97.5vw !important;
    width: 97.5vw !important;
    max-width: 97.5vw !important;
  }
}

//========================================================================================
/*                                                                                      *
 *                                     DRAG AND DROP                                    *
 *                                                                                      */
//========================================================================================

.cdk-drag-placeholder {
  opacity: 0.5;
  box-sizing: border-box;
  border: 2px dashed $primary-color;
}
.cdk-drag-animating,
.cdk-drop-list-dragging .cdk-drag {
  transition: transform .3s ease;
}
.cdk-drag-preview {
  opacity: 0.5;
  box-sizing: border-box;
  border: 2px dashed $primary-color;
  display: block;
  height: $list-item-height;
  width: 100%;
  padding: 0;
  position: relative;
  background-color: #424242;
  color: white;
  font-size: 12px;
  &.grey .mat-list-item-content,
  &.common .mat-list-item-content {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, $common-color 50%, rgba(255,255,255,0) 100%);
  }
  &.black .mat-list-item-content {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, $black-color 50%, rgba(255,255,255,0) 100%);
  }
  &.red .mat-list-item-content {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, $red-color 50%, rgba(255,255,255,0) 100%);
  }
  &.green .mat-list-item-content {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, $green-color 50%, rgba(255,255,255,0) 100%);
  }
  &.blue .mat-list-item-content {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, $blue-color 50%, rgba(255,255,255,0) 100%);
  }
  &.white .mat-list-item-content {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, $white-color 50%, rgba(255,255,255,0) 100%);
  }
  &.legendary {
    .mat-list-avatar.mat-badge-before img.mat-list-avatar {
      box-shadow: 0px 0px 10px 5px $legendary-color;
      border-color: $legendary-color;
    }
  }
  .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    height: inherit;
    .mat-list-avatar {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
      img.mat-list-avatar {
        box-sizing: content-box;
        border: 2px solid $primary-color;
      }
    }
    .mat-list-text {
      display: flex;
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
      padding: 0;
      padding-right: 0;
      padding-left: 16px;
      .mat-line {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        box-sizing: border-box;
        text-align: start;
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-size: inherit;
        line-height: 1.25 !important;
      }
      .mat-line:nth-child(n+2) {
        font-size: 12px;
      }
    }
  }
}

//========================================================================================
/*                                                                                      *
 *                                        SELECTS                                       *
 *                                                                                      */
//========================================================================================

.mat-select-panel .mat-option {
  height: $list-item-height !important;
}
.mat-select-trigger .mat-select-value {
  overflow: visible;
}

//========================================================================================
/*                                                                                      *
 *                                       SPINNERS                                       *
 *                                                                                      */
//========================================================================================

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

//========================================================================================
/*                                                                                      *
 *                                         ICONS                                        *
 *                                                                                      */
//========================================================================================

.icon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 0;
  border: 1px solid $primary-color;
  box-sizing: border-box;
  vertical-align: middle;
  &.grayscale {
    filter: grayscale(100%);
  }
}

//========================================================================================
/*                                                                                      *
 *                                        BUTTONS                                       *
 *                                                                                      */
//========================================================================================

.button-container {
  display: inline-block;
  position: relative;
}

//========================================================================================
/*                                                                                      *
 *                                         MENUS                                        *
 *                                                                                      */
//========================================================================================

.flag-menu {
  display: flex !important;
  align-items: center;
  img {
    margin-right: 10px;
  }
}

//========================================================================================
/*                                                                                      *
 *                                        PANELS                                        *
 *                                                                                      */
//========================================================================================

.mat-accordion {
  .mat-expansion-panel {
    background: transparent;
    .mat-expansion-panel-header {
      background: #212121;
      height: 60px;
      padding-left: 0;
      &.mat-expanded:focus {
        background: #212121;
      }
      .mat-expansion-panel-header-title {
        flex-grow: 0;
      }
      .mat-expansion-panel-header-description {
        font-size: 1rem;
        color: white;
      }
    }
    .mat-expansion-panel-content {
      .mat-expansion-panel-body {
        padding: 0;
      }
    }
  }
}

//========================================================================================
/*                                                                                      *
 *                                       SNACKBARS                                      *
 *                                                                                      */
//========================================================================================
/*
.cdk-overlay-pane .mat-snack-bar-container { // desktop
  margin-top: 70px;
}
.cdk-overlay-pane.mat-snack-bar-handset .mat-snack-bar-container { // mobile
  margin-top: 8px;
}
*/
//========================================================================================
/*                                                                                      *
 *                                       TOOLTIPS                                       *
 *                                                                                      */
//========================================================================================

.mat-tooltip {
  white-space: pre-line;
  text-align: center;
  font-size: 0.85rem;
}

//========================================================================================
/*                                                                                      *
 *                                        HELPERS                                       *
 *                                                                                      */
//========================================================================================

.fill-space {
  flex: 1 1 auto;
}
.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
}
hr {
  border-color: $primary-color;
}
ul {
  list-style: none;
}
ul li::before {
  content: "● ";
  color: $primary-color;
  font-weight: bold;

  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
