.user-encyclopedia {
  padding: 10px;
  .table-header {
    padding: 5px;
  }
  .table-filter {
    display: block;
    width: 100%;
  }
  ::ng-deep .mat-header-cell {
    flex-wrap: wrap;
  }
  .skill,
  .family,
  .category {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 4px 4px 0 0;
    border: 1px solid gray;
  }
}
