<div class="user-encyclopedia" fxLayout="row wrap" fxLayoutGap="10px grid" [@fadeInOnEnter]>

  <div fxFlex.xl="100" fxFlex.lg="100" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" class="table-responsive">

    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/images/cards/encyclopedia.png">
        <mat-card-title>{{ 'user.encyclopedia.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'user.encyclopedia.description' | translate }}</mat-card-subtitle>
        <div class="mat-card-extras">
          <button mat-icon-button (click)="this.tutorialService.start('tour.encyclopedia')"><mat-icon>help</mat-icon></button>
          <mat-chip-list><mat-chip color="primary"><mat-icon>description</mat-icon>{{ table.data.length | long }}</mat-chip></mat-chip-list>
        </div>
      </mat-card-header>

      <mat-card-content>
        <p>{{ 'user.encyclopedia.help' | translate }}</p>
        <table mat-table matSort matSortActive="name" matSortDirection="asc" [dataSource]="table" tourAnchor="tour.encyclopedia">
          <ng-container matColumnDef="{{ column }}" *ngFor="let column of columns">
            <mat-header-cell class="table-header" *matHeaderCellDef>
              <div mat-sort-header>{{ 'table.column.' + column | translate }}</div>

              <mat-form-field class="table-filter" *ngIf="filters[column] && filters[column].type === 'text'">
                <input matInput [(ngModel)]="filters[column].value" (keyup)="applyFilter()" autocomplete="off">
                <button mat-button *ngIf="filters[column].value" matSuffix mat-icon-button (click)="filters[column].value=''; applyFilter()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field class="table-filter" *ngIf="filters[column] && filters[column].type === 'select'">
                <mat-select [(ngModel)]="filters[column].value" (selectionChange)="applyFilter()">
                  <mat-option *ngFor="let option of filters[column].options" [value]="option">
                    <mat-list dense>
                      <mat-list-item [ngClass]="option.id">
                        <div mat-list-avatar>
                          <img mat-list-avatar [src]="option.image">
                        </div>
                        <div mat-line>{{ option.name | translate }}</div>
                      </mat-list-item>
                    </mat-list>
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="table-filter" *ngIf="filters[column] && filters[column].type === 'multiple'">
                <mat-select [(ngModel)]="filters[column].value" (selectionChange)="applyFilter()" multiple>
                  <mat-option *ngFor="let option of filters[column].options" [value]="option.value">
                    <mat-chip-list>
                      <mat-chip color="primary" selected [ngClass]="option.name.includes('legendary') ? 'legendary' : ''">
                        <img class="icon" [src]="option.name.includes('legendary') ? '/assets/images/icons/legendary.png' : '/assets/images/icons/type.png'">{{ option.name | translate }}
                      </mat-chip>
                    </mat-chip-list>
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </mat-header-cell>

            <mat-cell *matCellDef="let row" [attr.data-label]="'table.column.' + column | translate">

              <ng-template [ngIf]="column === 'name'">
                <mat-list dense>
                  <mat-list-item [ngClass]="[row.faction.id, (row | legendary) ? 'legendary' : 'common']">
                    <div mat-list-avatar [matBadge]="row.level || '?'" matBadgePosition="above before">
                      <img mat-list-avatar [src]="row.image" [ngClass]="row.type === 'god' ? 'squared' : ''">
                    </div>
                    <div mat-line>{{ row.name | translate }}</div>
                    <div mat-line class="mat-card-subtitle" *ngIf="row.type !== 'unit'" [innerHTML]="row.description | translate | icon:row"></div>
                    <div mat-line class="mat-card-subtitle" *ngIf="row.type === 'unit'">
                      <img [title]="family.name | translate" class="icon" *ngFor="let family of row.families" [src]="family.image">
                      <img [title]="skill.name | translate" class="icon" *ngFor="let skill of row.skills" [src]="skill.image">
                      <img [title]="category.name | translate" class="icon" *ngFor="let category of row.categories" [src]="category.image">
                      <img [title]="'category.legendary.name' | translate" class="icon" *ngIf="row.legendary" src="/assets/images/icons/legendary.png">
                    </div>
                    <div mat-line class="mat-card-subtitle" *ngIf="row.type === 'unit' && row.resistances && row.resistances.length">
                      <img [title]="('category.resistance.name' | translate) + (category.name | translate)" class="icon grayscale" *ngFor="let category of row.resistances" [src]="category.image">
                    </div>
                  </mat-list-item>
                </mat-list>
              </ng-template>

              <ng-template [ngIf]="column === 'faction'">
                <mat-list dense>
                  <mat-list-item [ngClass]="row.faction.id">
                    <div mat-list-avatar>
                      <img mat-list-avatar [src]="row.faction.image">
                    </div>
                    <div mat-line>{{ row.faction.name | translate }}</div>
                    <div mat-line class="mat-card-subtitle" [innerHTML]="row.faction.description | translate | icon:row.faction"></div>
                  </mat-list-item>
                </mat-list>
              </ng-template>

              <ng-template [ngIf]="column === 'type'">
                <mat-chip-list>
                  <mat-chip color="primary" selected><img class="icon" src="/assets/images/icons/type.png">{{ 'type.' + row.type + '.name'  | translate }}</mat-chip>
                  <mat-chip color="primary" selected *ngIf="row.subtype"><img class="icon" src="/assets/images/icons/type.png">{{ 'type.' + row.subtype + '.name'  | translate }}</mat-chip>
                  <mat-chip color="primary" selected *ngIf="row.legendary" class="legendary"><img class="icon" src="/assets/images/icons/legendary.png">{{ 'category.legendary.name' | translate }}</mat-chip>
                </mat-chip-list>
              </ng-template>

            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let tome; columns: columns;" (click)="openTomeDialog(tome)"></mat-row>
        </table>

        <mat-toolbar>
          <mat-toolbar-row>
            <button mat-mini-fab color="primary" (click)="clearFilter()"><mat-icon>clear</mat-icon></button>
            <span class="fill-space"></span>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </mat-toolbar-row>
        </mat-toolbar>

      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100" *ngFor="let topic, let i = index of topics" [attr.id]="i === 0 ? 'help' : ''">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar [src]="'/assets/images/cards/' + topic.name + '.png'">
        <mat-card-title>{{ topic.surname + '.' + topic.name + '.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ topic.surname + '.' + topic.name + '.description' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list dense>
          <ng-container *ngFor="let example of topic.examples">
            <mat-list-item [ngClass]="[example.faction.id, example.legendary ? 'legendary' : 'common']">
              <div mat-list-avatar [matBadge]="example.type === 'report' ? '!' : '?'" matBadgePosition="above before">
                <img mat-list-avatar [src]="example.image" [ngClass]="example.type === 'god' ? 'squared' : ''">
              </div>
              <div mat-line>{{ example.name | translate }}</div>
              <div mat-line class="mat-card-subtitle" *ngIf="example.type !== 'unit'" [innerHTML]="example.description | translate | icon:example"></div>
              <div mat-line class="mat-card-subtitle" *ngIf="example.type === 'unit'">
                <img [title]="family.name | translate" class="icon" *ngFor="let family of example.families" [src]="family.image">
                <img [title]="skill.name | translate" class="icon" *ngFor="let skill of example.skills" [src]="skill.image">
                <img [title]="category.name | translate" class="icon" *ngFor="let category of example.categories" [src]="category.image">
                <img [title]="'category.legendary.name' | translate" class="icon" *ngIf="example.legendary" src="/assets/images/icons/legendary.png">
              </div>
              <div mat-line class="mat-card-subtitle" *ngIf="example.type === 'unit' && example.resistances && example.resistances.length">
                <img [title]="('category.resistance.name' | translate) + (category.name | translate)" class="icon grayscale" *ngFor="let category of example.resistances" [src]="category.image">
              </div>
              <div mat-list-avatar matBadge="?" matBadgePosition="above after" *ngIf="topic.suffix">
                <img mat-list-avatar [src]="topic.suffix">
              </div>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </mat-card-content>
      <mat-card-content>
        <p [innerHTML]="topic.surname + '.' + topic.name + '.tour' | translate | icon"></p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100" id="changelog">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/images/cards/changelog.png">
        <mat-card-title>{{ 'user.changelog.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'user.changelog.description' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ 'user.changelog.help' | translate }}</p>
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
              <mat-panel-title>Version 1.0.0</mat-panel-title>
              <mat-panel-description>Alfa</mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li>Test</li>
              <li>Test</li>
              <li>Test</li>
              <li>Test</li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100" id="bonfire">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/images/cards/bonfire.png">
        <mat-card-title>{{ 'user.bonfire.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'user.bonfire.description' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ 'user.bonfire.help' | translate }}</p>
        <disqus identifier="/help"></disqus>
      </mat-card-content>
    </mat-card>
  </div>

</div>
