<div class="user-encyclopedia table-responsive" [@fadeInOnEnter]>
  <mat-card>

    <mat-card-header>
      <img mat-card-avatar src="/assets/images/icons/encyclopedia.png" alt="{{ 'user.encyclopedia.name' | translate }}">
      <mat-card-title >{{ 'user.encyclopedia.name' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'user.encyclopedia.description' | translate }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      {{ 'user.encyclopedia.help' | translate }}
    </mat-card-content>

    <mat-card-content>

      <table mat-table matSort [dataSource]="data">
        <ng-container matColumnDef="{{ column }}" *ngFor="let column of columns">

          <mat-header-cell class="table-header" *matHeaderCellDef>
            <div mat-sort-header>{{ 'table.column.' + column | translate }}</div>

            <mat-form-field class="table-filter" *ngIf="filters[column] && filters[column].type === 'text'">
              <input matInput [(ngModel)]="filters[column].value" (keyup)="applyFilter()"/>
              <button mat-button *ngIf="filters[column].value" matSuffix mat-icon-button (click)="filters[column].value=''; applyFilter()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <!--
            <mat-form-field class="table-filter" *ngIf="filters[column] && filters[column].type === 'select'">
              <mat-select [(ngModel)]="filters[column].value" (selectionChange)="applyFilter()">
                <mat-option [value]="''">{{ 'table.filter.any' | translate }}</mat-option>
                <mat-option *ngFor="let option of filters[column].options" [value]="option.value">{{ option.name | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
            -->

          </mat-header-cell>
          <mat-cell *matCellDef="let row" [attr.data-label]="'table.column.' + column | translate">

            <ng-template [ngIf]="['attack','defense','life','gold','mana','population','goldKeep','manaKeep','populationKeep'].includes(column)">
              {{ row[column] | short }}
            </ng-template>

            <ng-template [ngIf]="column === 'type'">
              {{ 'type.' + row[column] + '.name' | translate }}
            </ng-template>

            <ng-template [ngIf]="column === 'faction'">
              <mat-list dense>
                <mat-list-item>
                  <div mat-list-avatar>
                    <img mat-list-avatar [src]="row.join.image" alt="{{ row.join.name | translate }}"/>
                  </div>
                  <div mat-line>{{ row.join.name | translate }}</div>
                  <div mat-line class="mat-card-subtitle">{{ row.join.description | translate }}</div>
                </mat-list-item>
              </mat-list>
            </ng-template>

            <ng-template [ngIf]="column === 'name'">
              <mat-list dense>
                <mat-list-item>
                  <div mat-list-avatar [matBadge]="(row.level ? (row.level | short) : '?')" matBadgePosition="above before">
                    <img mat-list-avatar [src]="row.image" alt="{{ row.name | translate }}"/>
                  </div>
                  <div mat-line>{{ row.name | translate }}</div>
                  <div mat-line class="mat-card-subtitle" *ngIf="['god', 'family', 'skill', 'resource', 'category'].includes(row.type)">{{ row.description | translate }}</div>
                  <div mat-line class="mat-card-subtitle" *ngIf="['sorcery', 'enchantment', 'instant', 'summon', 'structure', 'location', 'hero', 'item'].includes(row.type)"
                    [innerHTML]="row.description | translate | icon:row.skills:row.categories:row.families:row.units:row.resources:row.spells">
                  </div>
                  <div mat-line class="mat-card-subtitle" *ngIf="['unit'].includes(row.type)">
                    <img [matTooltip]="family.name | translate" class="icon" *ngFor="let family of row.families" [src]="family.image"/>
                    <img [matTooltip]="category.name | translate" class="icon" *ngFor="let category of row.categories" [src]="category.image"/>
                    <img [matTooltip]="skill.name | translate" class="icon" *ngFor="let skill of row.skills" [src]="skill.image"/>
                  </div>
                  <div mat-list-avatar>
                    <img mat-list-avatar [src]="row.join.image" alt="{{ row.join.name | translate }}"/>
                  </div>
                </mat-list-item>
              </mat-list>
            </ng-template>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;" class="item-row"></mat-row>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
