<div class="user-encyclopedia table-responsive" [@fadeInOnEnter]>
  <mat-card>

    <mat-card-header>
      <img mat-card-avatar src="/assets/images/cards/encyclopedia.png">
      <mat-card-title>{{ 'user.encyclopedia.name' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'user.encyclopedia.description' | translate }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <span>{{ 'user.encyclopedia.help' | translate }}</span>
      <table mat-table matSort [dataSource]="data">

        <ng-container matColumnDef="{{ column }}" *ngFor="let column of columns">

          <mat-header-cell class="table-header" *matHeaderCellDef>
            <div mat-sort-header>{{ 'table.column.' + column | translate }}</div>

            <mat-form-field class="table-filter" *ngIf="filters[column] && filters[column].type === 'text'">
              <input matInput [(ngModel)]="filters[column].value" (keyup)="applyFilter()" autocomplete="off">
              <button mat-button *ngIf="filters[column].value" matSuffix mat-icon-button (click)="filters[column].value=''; applyFilter()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

            <mat-form-field class="table-filter" *ngIf="filters[column] && filters[column].type === 'select'">
              <mat-select [(ngModel)]="filters[column].value" (selectionChange)="applyFilter()">
                <mat-option value="">{{ 'table.filter.any' | translate }}</mat-option>
                <mat-option *ngFor="let option of filters[column].options" [value]="option.value">{{ option.name | translate }}</mat-option>
              </mat-select>
            </mat-form-field>

          </mat-header-cell>
          <mat-cell *matCellDef="let row" [attr.data-label]="'table.column.' + column | translate">

            <ng-template [ngIf]="column === 'type'">
              <mat-chip-list>
                <mat-chip color="primary" selected><img class="icon" src="/assets/images/icons/type.png">{{ 'type.' + row.type + '.name'  | translate }}</mat-chip>
                <mat-chip color="primary" selected *ngIf="row.legendary" class="legendary"><img class="icon" src="/assets/images/icons/legendary.png">{{ 'category.legendary.name' | translate }}</mat-chip>
              </mat-chip-list>
            </ng-template>

            <ng-template [ngIf]="column === 'faction'">
              <mat-list dense>
                <mat-list-item>
                  <div mat-list-avatar>
                    <img mat-list-avatar [src]="row.join.image">
                  </div>
                  <div mat-line>{{ row.join.name | translate }}</div>
                  <div mat-line class="mat-card-subtitle" [innerHTML]="row.join.description | translate | icon:row.join"></div>
                </mat-list-item>
              </mat-list>
            </ng-template>

            <ng-template [ngIf]="column === 'name'">
              <mat-list dense>
                <mat-list-item [ngClass]="{ 'legendary': row | legendary }">
                  <div mat-list-avatar [matBadge]="row.level || '?'" matBadgePosition="above before">
                    <img mat-list-avatar [src]="row.image">
                  </div>
                  <div mat-line>{{ row.name | translate:{name:'???'} }}</div>
                  <div mat-line class="mat-card-subtitle" *ngIf="['god', 'family', 'skill', 'resource', 'category'].includes(row.type)">{{ row.description | translate }}</div>
                  <div mat-line class="mat-card-subtitle" *ngIf="['sorcery', 'enchantment', 'instant', 'summon', 'structure', 'location', 'hero', 'item'].includes(row.type)" [innerHTML]="row.description | translate | icon:row"></div>
                  <div mat-line class="mat-card-subtitle" *ngIf="['unit'].includes(row.type)">
                    <img [title]="family.name | translate" class="icon" *ngFor="let family of row.families" [src]="family.image">
                    <img [title]="skill.name | translate" class="icon" *ngFor="let skill of row.skills" [src]="skill.image">
                    <img [title]="category.name | translate" class="icon" *ngFor="let category of row.categories" [src]="category.image">
                    <img [title]="'category.legendary.name' | translate" class="icon" *ngIf="row.legendary" src="/assets/images/icons/legendary.png">
                  </div>
                  <div mat-line class="mat-card-subtitle" *ngIf="['unit'].includes(row.type) && row.resistances && row.resistances.length">
                    <img [title]="('category.resistance.name' | translate) + (category.name | translate)" class="icon grayscale" *ngFor="let category of row.resistances" [src]="category.image">
                  </div>
                </mat-list-item>
              </mat-list>
            </ng-template>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let tome; columns: columns;" (click)="openTomeDialog(tome)"></mat-row>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>
