<mat-card class="map-popup animated bounceIn mat-elevation-z4">
  <mat-card-header>
    <img mat-card-avatar [src]="data.join.image">
    <mat-card-title>{{ (data.faction ? data.name : data.join.name) | translate }}</mat-card-title>
    <mat-card-subtitle *ngIf="data.faction">{{ data.join.name | translate }}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!data.faction" [innerHTML]="data.join.description | translate | icon:data.join.skills:data.join.categories:data.join.families:data.join.units:data.join.resources:data.join.spells"></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <!-- shop contracts -->
    <ng-template [ngIf]="shopContracts.length">
      <div matSubheader>{{ 'card.list.contracts' | translate }}:</div>
      <mat-action-list dense>
        <button mat-list-item *ngFor="let contract of shopContracts">
          <div mat-list-avatar [matBadge]="contract.level" matBadgePosition="above before">
            <img mat-list-avatar [src]="contract.join.image">
          </div>
          <div mat-line>{{ contract.join.name | translate }}</div>
          <div mat-line class="mat-card-subtitle" [innerHTML]="contract.join.description | translate | icon:contract.join.skills:contract.join.categories:contract.join.families:contract.join.units:contract.join.resources:contract.join.spells"></div>
          <div mat-list-avatar [matBadge]="contract.gold | long" matBadgePosition="above before">
            <img mat-list-avatar src="/assets/images/resources/gold.png">
          </div>
        </button>
      </mat-action-list>
    </ng-template>

    <!-- shop troops -->
    <ng-template [ngIf]="shopTroops.length">
      <div matSubheader>{{ 'card.list.troops' | translate }}:</div>
      <mat-action-list dense>
        <button mat-list-item *ngFor="let troop of shopTroops">
          <div mat-list-avatar [matBadge]="troop.quantity | long" matBadgePosition="above before">
            <img mat-list-avatar [src]="troop.join.image">
          </div>
          <div mat-line>{{ troop.join.name | translate }}</div>
          <div mat-line class="mat-card-subtitle">
            <img [title]="family.name | translate" class="icon" *ngFor="let family of troop.join.families" [src]="family.image"/>
            <img [title]="category.name | translate" class="icon" *ngFor="let category of troop.join.categories" [src]="category.image"/>
            <img [title]="skill.name | translate" class="icon" *ngFor="let skill of troop.join.skills" [src]="skill.image"/>
          </div>
          <div mat-list-avatar [matBadge]="troop.gold | long" matBadgePosition="above before">
            <img mat-list-avatar src="/assets/images/resources/gold.png">
          </div>
        </button>
      </mat-action-list>
    </ng-template>

    <!-- shop artifacts -->
    <ng-template [ngIf]="shopArtifacts.length">
      <div matSubheader>{{ 'card.list.artifacts' | translate }}:</div>
      <mat-action-list dense>
        <button mat-list-item *ngFor="let artifact of shopArtifacts">
          <div mat-list-avatar [matBadge]="artifact.quantity" matBadgePosition="above before">
            <img mat-list-avatar [src]="artifact.join.image">
          </div>
          <div mat-line>{{ artifact.join.name | translate }}</div>
          <div mat-line class="mat-card-subtitle" [innerHTML]="artifact.join.description | translate | icon:artifact.join.skills:artifact.join.categories:artifact.join.families:artifact.join.units:artifact.join.resources:artifact.join.spells"></div>
          <div mat-list-avatar [matBadge]="artifact.gold | long" matBadgePosition="above before">
            <img mat-list-avatar src="/assets/images/resources/gold.png">
          </div>
        </button>
      </mat-action-list>
    </ng-template>

    <!-- shop spells -->
    <ng-template [ngIf]="shopCharms.length">
      <div matSubheader>{{ 'card.list.charms' | translate }}:</div>
      <mat-action-list dense>
        <button mat-list-item *ngFor="let charm of shopCharms">
          <div mat-list-avatar [matBadge]="charm.level" matBadgePosition="above before">
            <img mat-list-avatar [src]="charm.join.image">
          </div>
          <div mat-line>{{ charm.join.name | translate }}</div>
          <div mat-line class="mat-card-subtitle" [innerHTML]="charm.join.description | translate | icon:charm.join.skills:charm.join.categories:charm.join.families:charm.join.units:charm.join.resources:charm.join.spells"></div>
          <div mat-list-avatar [matBadge]="charm.gold | long" matBadgePosition="above before">
            <img mat-list-avatar src="/assets/images/resources/gold.png">
          </div>
        </button>
      </mat-action-list>
    </ng-template>

    <!-- kingdom troops -->
    <ng-template [ngIf]="kingdomTroops.length">
      <div matSubheader>{{ 'card.list.troops' | translate }}:</div>
      <mat-list dense>
        <mat-list-item *ngFor="let troop of kingdomTroops">
          <div mat-list-avatar matBadge="?" matBadgePosition="above before">
            <img mat-list-avatar [src]="troop.join.image">
          </div>
          <div mat-line>{{ troop.join.name | translate }}</div>
          <div mat-line class="mat-card-subtitle">
            <img [title]="family.name | translate" class="icon" *ngFor="let family of troop.join.families" [src]="family.image"/>
            <img [title]="category.name | translate" class="icon" *ngFor="let category of troop.join.categories" [src]="category.image"/>
            <img [title]="skill.name | translate" class="icon" *ngFor="let skill of troop.join.skills" [src]="skill.image"/>
          </div>
        </mat-list-item>
      </mat-list>
    </ng-template>

    <!-- quest contracts -->
    <ng-template [ngIf]="questContracts.length">
      <div matSubheader>{{ 'card.list.contracts' | translate }}:</div>
      <mat-list dense>
        <mat-list-item *ngFor="let contract of questContracts">
          <div mat-list-avatar [matBadge]="contract.level" matBadgePosition="above before">
            <img mat-list-avatar [src]="contract.join.image">
          </div>
          <div mat-line>{{ contract.join.name | translate }}</div>
          <div mat-line class="mat-card-subtitle" [innerHTML]="contract.join.description | translate | icon:contract.join.skills:contract.join.categories:contract.join.families:contract.join.units:contract.join.resources:contract.join.spells"></div>
        </mat-list-item>
      </mat-list>
    </ng-template>

    <!-- quest troops -->
    <ng-template [ngIf]="questTroops.length">
      <div matSubheader>{{ 'card.list.troops' | translate }}:</div>
      <mat-list dense>
        <mat-list-item *ngFor="let troop of questTroops">
          <div mat-list-avatar [matBadge]="troop.quantity | long" matBadgePosition="above before">
            <img mat-list-avatar [src]="troop.join.image">
          </div>
          <div mat-line>{{ troop.join.name | translate }}</div>
          <div mat-line class="mat-card-subtitle">
            <img [title]="family.name | translate" class="icon" *ngFor="let family of troop.join.families" [src]="family.image"/>
            <img [title]="category.name | translate" class="icon" *ngFor="let category of troop.join.categories" [src]="category.image"/>
            <img [title]="skill.name | translate" class="icon" *ngFor="let skill of troop.join.skills" [src]="skill.image"/>
          </div>
        </mat-list-item>
      </mat-list>
    </ng-template>

    <!-- quest artifacts -->
    <ng-template [ngIf]="questArtifacts.length">
      <div matSubheader>{{ 'card.list.artifacts' | translate }}:</div>
      <mat-action-list dense>
        <button mat-list-item *ngFor="let artifact of questArtifacts">
          <div mat-list-avatar [matBadge]="artifact.quantity | long" matBadgePosition="above before">
            <img mat-list-avatar [src]="artifact.join.image">
          </div>
          <div mat-line>{{ artifact.join.name | translate }}</div>
          <div mat-line class="mat-card-subtitle" [innerHTML]="artifact.join.description | translate | icon:artifact.join.skills:artifact.join.categories:artifact.join.families:artifact.join.units:artifact.join.resources:artifact.join.spells"></div>
        </button>
      </mat-action-list>
    </ng-template>

  </mat-card-content>
</mat-card>
