.map-popup {
  width: 350px;
  ::ng-deep .mat-card-header-text {
    overflow: hidden !important;
  }
  .mat-list-item {
    min-height: 64px !important;
    height: 64px !important;
  }
  .mat-card-subtitle {
    display: flex;
    align-items: center;
  }
  ::ng-deep .mat-list-text {
    line-height: 1.25;
  }
  .popup-number {
    margin-top: 5px;
  }
}

// responsive custom card
@media screen and (max-width: 960px) {
  .map-popup {
    max-width: 250px !important;
  }
}
