<mat-card class="map-popup animated bounceIn mat-elevation-z4">

  <!-- kingdom -->
  <mat-card-header *ngIf="data.type === PopupType.KINGDOM">
    <img mat-card-avatar [src]="data.faction.marker">
    <mat-card-title>{{ data.name }}</mat-card-title>
    <mat-card-subtitle>{{ data.faction.name | translate }}</mat-card-subtitle>
  </mat-card-header>

  <!-- shop -->
  <mat-card-header *ngIf="data.type === PopupType.SHOP">
    <img mat-card-avatar [src]="data.store.image">
    <mat-card-title>{{ data.store.name | translate }}</mat-card-title>
    <mat-card-subtitle>{{ data.name }}</mat-card-subtitle>
  </mat-card-header>

  <!-- quest -->
  <mat-card-header *ngIf="data.type === PopupType.QUEST">
    <img mat-card-avatar [src]="data.location.image">
    <mat-card-title>{{ data.location.name | translate }}</mat-card-title>
    <mat-card-subtitle>{{ data.name }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <!-- kingdom troops -->
    <ng-template [ngIf]="kingdomTroops.length">
      <div matSubheader>{{ 'card.list.troops' | translate }}:</div>
      <mat-list dense>
        <mat-list-item *ngFor="let troop of kingdomTroops" [ngClass]="[troop.unit.faction.id, troop.unit.legendary ? 'legendary' : 'common']">
          <div mat-list-avatar matBadge="?" matBadgePosition="above before">
            <img mat-list-avatar [src]="troop.unit.image">
          </div>
          <div mat-line>{{ troop.unit.name | translate }}</div>
          <div mat-line class="mat-card-subtitle">
            <img [title]="family.name | translate" class="icon" *ngFor="let family of troop.unit.families" [src]="family.image">
            <img [title]="skill.name | translate" class="icon" *ngFor="let skill of troop.unit.skills" [src]="skill.image">
            <img [title]="category.name | translate" class="icon" *ngFor="let category of troop.unit.categories" [src]="category.image">
          </div>
          <div mat-line class="mat-card-subtitle" *ngIf="troop.unit.resistances && troop.unit.resistances.length">
            <img [title]="('category.resistance.name' | translate) + (category.name | translate)" class="icon grayscale" *ngFor="let category of troop.unit.resistances" [src]="category.image">
          </div>
        </mat-list-item>
      </mat-list>
    </ng-template>

    <!-- shop contracts -->
    <ng-template [ngIf]="shopContracts.length">
      <div matSubheader>{{ 'card.list.contracts' | translate }}:</div>
      <mat-action-list dense>
        <button mat-list-item *ngFor="let contract of shopContracts" [ngClass]="[contract.hero.faction.id, contract.hero.legendary ? 'legendary' : 'common']" (click)="openConfirmDialog(contract, ConfirmType.contract)">
          <div mat-list-avatar [matBadge]="contract.level" matBadgePosition="above before">
            <img mat-list-avatar [src]="contract.hero.image">
          </div>
          <div mat-line>{{ contract.hero.name | translate }}</div>
          <div mat-line class="mat-card-subtitle" [innerHTML]="contract.hero.description | translate | icon:contract.hero"></div>
          <div mat-list-avatar [matBadge]="contract.gold | long" matBadgePosition="above after">
            <img mat-list-avatar src="/assets/images/resources/gold.png">
          </div>
        </button>
      </mat-action-list>
    </ng-template>

    <!-- shop troops -->
    <ng-template [ngIf]="shopTroops.length">
      <div matSubheader>{{ 'card.list.troops' | translate }}:</div>
      <mat-action-list dense>
        <button mat-list-item *ngFor="let troop of shopTroops" [ngClass]="[troop.unit.faction.id, troop.unit.legendary ? 'legendary' : 'common']" (click)="openConfirmDialog(troop, ConfirmType.troop)">
          <div mat-list-avatar [matBadge]="troop.quantity | long" matBadgePosition="above before">
            <img mat-list-avatar [src]="troop.unit.image">
          </div>
          <div mat-line>{{ troop.unit.name | translate }}</div>
          <div mat-line class="mat-card-subtitle">
            <img [title]="family.name | translate" class="icon" *ngFor="let family of troop.unit.families" [src]="family.image">
            <img [title]="skill.name | translate" class="icon" *ngFor="let skill of troop.unit.skills" [src]="skill.image">
            <img [title]="category.name | translate" class="icon" *ngFor="let category of troop.unit.categories" [src]="category.image">
          </div>
          <div mat-line class="mat-card-subtitle" *ngIf="troop.unit.resistances && troop.unit.resistances.length">
            <img [title]="('category.resistance.name' | translate) + (category.name | translate)" class="icon grayscale" *ngFor="let category of troop.unit.resistances" [src]="category.image">
          </div>
          <div mat-list-avatar [matBadge]="troop.gold | long" matBadgePosition="above after">
            <img mat-list-avatar src="/assets/images/resources/gold.png">
          </div>
        </button>
      </mat-action-list>
    </ng-template>

    <!-- shop artifacts -->
    <ng-template [ngIf]="shopArtifacts.length">
      <div matSubheader>{{ 'card.list.artifacts' | translate }}:</div>
      <mat-action-list dense>
        <button mat-list-item *ngFor="let artifact of shopArtifacts" [ngClass]="[artifact.item.faction.id, artifact.item.legendary ? 'legendary' : 'common']" (click)="openConfirmDialog(artifact, ConfirmType.artifact)">
          <div mat-list-avatar [matBadge]="artifact.quantity" matBadgePosition="above before">
            <img mat-list-avatar [src]="artifact.item.image">
          </div>
          <div mat-line>{{ artifact.item.name | translate }}</div>
          <div mat-line class="mat-card-subtitle" [innerHTML]="artifact.item.description | translate | icon:artifact.item"></div>
          <div mat-list-avatar [matBadge]="artifact.gold | long" matBadgePosition="above after">
            <img mat-list-avatar src="/assets/images/resources/gold.png">
          </div>
        </button>
      </mat-action-list>
    </ng-template>

    <!-- shop spells -->
    <ng-template [ngIf]="shopCharms.length">
      <div matSubheader>{{ 'card.list.charms' | translate }}:</div>
      <mat-action-list dense>
        <button mat-list-item *ngFor="let charm of shopCharms" [ngClass]="[charm.spell.faction.id, charm.spell.legendary ? 'legendary' : 'common']" (click)="openConfirmDialog(charm, ConfirmType.charm)">
          <div mat-list-avatar [matBadge]="charm.level" matBadgePosition="above before">
            <img mat-list-avatar [src]="charm.spell.image">
          </div>
          <div mat-line>{{ charm.spell.name | translate }}</div>
          <div mat-line class="mat-card-subtitle" [innerHTML]="charm.spell.description | translate | icon:charm.spell"></div>
          <div mat-list-avatar [matBadge]="charm.gold | long" matBadgePosition="above after">
            <img mat-list-avatar src="/assets/images/resources/gold.png">
          </div>
        </button>
      </mat-action-list>
    </ng-template>

    <!-- quest contracts -->
    <ng-template [ngIf]="questContracts.length">
      <div matSubheader>{{ 'card.list.contracts' | translate }}:</div>
      <mat-list dense>
        <mat-list-item *ngFor="let contract of questContracts" [ngClass]="[contract.hero.faction.id, contract.hero.legendary ? 'legendary' : 'common']">
          <div mat-list-avatar [matBadge]="contract.level" matBadgePosition="above before">
            <img mat-list-avatar [src]="contract.hero.image">
          </div>
          <div mat-line>{{ contract.hero.name | translate }}</div>
          <div mat-line class="mat-card-subtitle" [innerHTML]="contract.hero.description | translate | icon:contract.hero"></div>
        </mat-list-item>
      </mat-list>
    </ng-template>

    <!-- quest troops -->
    <ng-template [ngIf]="questTroops.length">
      <div matSubheader>{{ 'card.list.troops' | translate }}:</div>
      <mat-list dense>
        <mat-list-item *ngFor="let troop of questTroops" [ngClass]="[troop.unit.faction.id, troop.unit.legendary ? 'legendary' : 'common']">
          <div mat-list-avatar [matBadge]="troop.quantity | long" matBadgePosition="above before">
            <img mat-list-avatar [src]="troop.unit.image">
          </div>
          <div mat-line>{{ troop.unit.name | translate }}</div>
          <div mat-line class="mat-card-subtitle">
            <img [title]="family.name | translate" class="icon" *ngFor="let family of troop.unit.families" [src]="family.image">
            <img [title]="skill.name | translate" class="icon" *ngFor="let skill of troop.unit.skills" [src]="skill.image">
            <img [title]="category.name | translate" class="icon" *ngFor="let category of troop.unit.categories" [src]="category.image">
          </div>
          <div mat-line class="mat-card-subtitle" *ngIf="troop.unit.resistances && troop.unit.resistances.length">
            <img [title]="('category.resistance.name' | translate) + (category.name | translate)" class="icon grayscale" *ngFor="let category of troop.unit.resistances" [src]="category.image">
          </div>
        </mat-list-item>
      </mat-list>
    </ng-template>

    <!-- quest artifacts -->
    <ng-template [ngIf]="questArtifacts.length">
      <div matSubheader>{{ 'card.list.artifacts' | translate }}:</div>
      <mat-action-list dense>
        <button mat-list-item *ngFor="let artifact of questArtifacts" [ngClass]="[artifact.item.faction.id, artifact.item.legendary ? 'legendary' : 'common']" (click)="openConfirmDialog(artifact, ConfirmType.battle)">
          <div mat-list-avatar [matBadge]="artifact.quantity | long" matBadgePosition="above before">
            <img mat-list-avatar [src]="artifact.item.image">
          </div>
          <div mat-line>{{ artifact.item.name | translate }}</div>
          <div mat-line class="mat-card-subtitle" [innerHTML]="artifact.item.description | translate | icon:artifact.item"></div>
          <div mat-list-avatar [matBadge]="artifact.turns | long" matBadgePosition="above after">
            <img mat-list-avatar src="/assets/images/resources/turn.png">
          </div>
        </button>
      </mat-action-list>
    </ng-template>

  </mat-card-content>
</mat-card>
