.map-popup {
  /*
  background: url('/assets/images/background/papire.jpg') no-repeat center center; // fixed
  background-size: cover;
  */
  ::ng-deep .mat-card-header-text {
    overflow: hidden !important;
  }
  ::ng-deep .mat-list-text {
    line-height: 1.25;
  }
  .popup-number {
    margin-top: 5px;
  }
  .clock {
    white-space: nowrap;
  }
}
