.map-popup {
  ::ng-deep .mat-card-header-text {
    overflow: hidden !important;
  }
  .mat-card-subtitle {
    display: flex;
    align-items: center;
  }
  ::ng-deep .mat-list-text {
    line-height: 1.25;
  }
  .popup-number {
    margin-top: 5px;
  }
}
