<div class="kingdom-city" fxLayout="row wrap" fxLayoutGap="10px grid" [@fadeInOnEnter]>

  <div fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">

    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/images/cards/city.png">
        <mat-card-title>{{ 'kingdom.city.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'kingdom.city.description' | translate }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <span>{{ 'kingdom.city.help' | translate }}</span>
        <div matSubheader>{{ 'card.list.buildings' | translate }}:</div>
        <mat-action-list dense tourAnchor="tour.city">
          <button mat-list-item *ngFor="let building of kingdomBuildings" (click)="openBuildDialog(building)" class="common">
            <div mat-list-avatar [matBadge]="building.quantity | long" matBadgePosition="above before">
              <img mat-list-avatar [src]="building.join.image">
            </div>
            <div mat-line>{{ building.join.name | translate }}</div>
            <div mat-line class="mat-card-subtitle" [innerHTML]="building.join.description | translate | icon:building.join.skills:building.join.categories:building.join.families:building.join.units:building.join.resources:building.join.spells:building.join.adjacents:building.join.opposites"></div>
            <div mat-list-avatar [matBadge]="building.join.gold | long" matBadgePosition="above after">
              <img mat-list-avatar src="/assets/images/resources/gold.png">
            </div>
          </button>
        </mat-action-list>
      </mat-card-content>

    </mat-card>

  </div>

  <div fxFlex.xl="66" fxFlex.lg="66" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">

    <div fxLayout="row wrap" fxLayoutGap="10px grid">
      <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">

        <mat-card>
          <mat-card-header>
            <img mat-card-avatar src="/assets/images/cards/tax.png">
            <mat-card-title >{{ 'kingdom.tax.name' | translate }}</mat-card-title>
            <mat-card-subtitle>{{ 'kingdom.tax.description' | translate }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <span>{{ 'kingdom.tax.help' | translate }}</span>
            <div matSubheader>{{ 'kingdom.tax.tax' | translate }}:</div>
            <mat-action-list dense tourAnchor="tour.tax">
              <button mat-list-item *ngIf="village" (click)="openTaxDialog(village)" class="common">
                <div mat-list-avatar [matBadge]="village.quantity | long" matBadgePosition="above before">
                  <img mat-list-avatar [src]="village.join.image">
                </div>
                <div mat-line>{{ village.join.name | translate }}</div>
                <div mat-line class="mat-card-subtitle" [innerHTML]="village.join.description | translate | icon:village.join.skills:village.join.categories:village.join.families:village.join.units:village.join.resources:village.join.spells:village.join.adjacents:village.join.opposites"></div>
                <div mat-list-avatar matBadge="?" matBadgePosition="above after">
                  <img mat-list-avatar src="/assets/images/resources/turn.png">
                </div>
              </button>
            </mat-action-list>
          </mat-card-content>

        </mat-card>
      </div>

      <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">

        <mat-card>
          <mat-card-header>
            <img mat-card-avatar src="/assets/images/cards/charge.png">
            <mat-card-title >{{ 'kingdom.charge.name' | translate }}</mat-card-title>
            <mat-card-subtitle>{{ 'kingdom.charge.description' | translate }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <span>{{ 'kingdom.charge.help' | translate }}</span>
            <div matSubheader>{{ 'kingdom.charge.charge' | translate }}:</div>
            <mat-action-list dense tourAnchor="tour.charge">
              <button mat-list-item *ngIf="node" (click)="openChargeDialog(node)" class="common">
                <div mat-list-avatar [matBadge]="node.quantity | long" matBadgePosition="above before">
                  <img mat-list-avatar [src]="node.join.image">
                </div>
                <div mat-line>{{ node.join.name | translate }}</div>
                <div mat-line class="mat-card-subtitle" [innerHTML]="node.join.description | translate | icon:node.join.skills:node.join.categories:node.join.families:node.join.units:node.join.resources:node.join.spells:node.join.adjacents:node.join.opposites"></div>
                <div mat-list-avatar matBadge="?" matBadgePosition="above after">
                  <img mat-list-avatar src="/assets/images/resources/turn.png">
                </div>
              </button>
            </mat-action-list>
          </mat-card-content>
        </mat-card>

      </div>

      <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">

        <mat-card>
          <mat-card-header>
            <img mat-card-avatar src="/assets/images/cards/explore.png">
            <mat-card-title >{{ 'kingdom.explore.name' | translate }}</mat-card-title>
            <mat-card-subtitle>{{ 'kingdom.explore.description' | translate }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <span>{{ 'kingdom.explore.help' | translate }}</span>
            <div matSubheader>{{ 'kingdom.explore.explore' | translate }}:</div>
            <mat-action-list dense tourAnchor="tour.explore">
              <button mat-list-item *ngIf="land$ | async" (click)="openExploreDialog(land$)" class="common">
                <div mat-list-avatar [matBadge]="(land$ | async)?.quantity | long" matBadgePosition="above before">
                  <img mat-list-avatar src="/assets/images/resources/land.png">
                </div>
                <div mat-line>{{ 'resource.land.name' | translate }}</div>
                <div mat-line class="mat-card-subtitle">{{ 'resource.land.description' | translate }}</div>
                <div mat-list-avatar matBadge="?" matBadgePosition="above after">
                  <img mat-list-avatar src="/assets/images/resources/turn.png">
                </div>
              </button>
            </mat-action-list>
          </mat-card-content>
        </mat-card>

      </div>

    </div>
  </div>

</div>
