<div class="kingdom-city table-responsive">
  <mat-card>

    <mat-card-header>
      <img mat-card-avatar src="/assets/badge.png" alt="{{ 'city.title' | translate }}">
      <mat-card-title >{{ 'city.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'city.subtitle' | translate }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <!--
      <div fxLayout="row" fxLayoutAlign="flex-end">
        <mat-form-field>
          <mat-label>{{ 'filter.name' | translate }}</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="{{ 'filter.placeholder' | translate }}">
        </mat-form-field>
      </div>
      -->
      <table mat-table matSort [dataSource]="data">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'building.name' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let row" [attr.data-label]="'building.name' | translate">
            <div class="table-responsive-image-wrapper">
              <img class="mat-elevation-z4" [src]="row.image" alt="{{ 'building.name' | translate }}"/>
              <div>
                <div><strong>{{ row.name | translate }}</strong></div>
                <div><small>texto</small></div>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'building.quantity' | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let row" [attr.data-label]="'building.quantity' | translate">
          <mat-chip-list><mat-chip>{{ row.quantity }}</mat-chip></mat-chip-list>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;"></mat-row>
      </table>
      <!--
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      -->
    </mat-card-content>
  </mat-card>
</div>