<mat-card class="card-building">
  <mat-card-header>
    <img mat-card-avatar src="/assets/badge.png" alt="icon">
    <mat-card-title>Skeletons</mat-card-title>
    <mat-card-subtitle>Really, they are!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-list class="mat-chip-list-stacked" aria-label="tags">
      <mat-chip><mat-icon fontSet="ra" fontIcon="ra-sword"></mat-icon>adios</mat-chip>
      <mat-chip><mat-icon fontSet="ra" fontIcon="ra-sword"></mat-icon>adios</mat-chip>
      <mat-chip><mat-icon fontSet="ra" fontIcon="ra-sword"></mat-icon>adios</mat-chip>
    </mat-chip-list>
    <img mat-card-md-image src="/assets/skeleton.png" alt="icon">
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>Button</button>
    <button mat-raised-button>Button</button>
  </mat-card-actions>
</mat-card>
