<div class="kingdom-army" fxLayout="row wrap" fxLayoutGap="10px grid" cdkDropListGroup [@fadeInOnEnter]>

  <div fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/images/icons/army.png" alt="{{ 'kingdom.army.name' | translate }}">
        <mat-card-title >{{ 'kingdom.army.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'kingdom.army.description' | translate }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        {{ 'kingdom.army.help' | translate }}
      </mat-card-content>

      <mat-card-content>
        <div matSubheader>{{ 'card.list.troops' | translate }}:</div>
        <mat-list dense
          id="0"
          cdkDropList
          cdkDropListOrientation="vertical"
          (cdkDropListDropped)="assignTroop($event)"
          [cdkDropListData]="kingdomTroops">
          <mat-list-item *ngFor="let troop of kingdomTroops" cdkDrag class="handle" [id]="troop.fid">
            <div mat-list-avatar [matBadge]="troop.quantity | short" matBadgePosition="above before">
              <img mat-list-avatar [src]="troop.join.image" alt="{{ troop.join.name | translate }}"/>
            </div>
            <div mat-line>{{ troop.join.name | translate }}</div>
            <div mat-line class="mat-card-subtitle">{{ troop.join.description | translate }}</div>
            <mat-icon>open_with</mat-icon>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/images/icons/attack.png" alt="{{ 'kingdom.attack.name' | translate }}">
        <mat-card-title >{{ 'kingdom.attack.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'kingdom.attack.description' | translate }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        {{ 'kingdom.attack.help' | translate }}
      </mat-card-content>

      <mat-card-content>
        <div matSubheader>{{ 'card.list.troops' | translate }}:</div>
        <mat-list dense
          id="1"
          cdkDropList
          cdkDropListOrientation="vertical"
          (cdkDropListDropped)="assignTroop($event)"
          [cdkDropListData]="attackTroops">
          <mat-list-item *ngFor="let troop of attackTroops" cdkDrag class="handle" [id]="troop.fid">
            <div mat-list-avatar [matBadge]="troop.quantity | short" matBadgePosition="above before">
              <img mat-list-avatar [src]="troop.join.image" alt="{{ troop.join.name | translate }}"/>
            </div>
            <div mat-line>{{ troop.join.name | translate }}</div>
            <div mat-line class="mat-card-subtitle">{{ troop.join.description | translate }}</div>
            <mat-icon>open_with</mat-icon>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/images/icons/defense.png" alt="{{ 'kingdom.defense.name' | translate }}">
        <mat-card-title >{{ 'kingdom.defense.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'kingdom.defense.description' | translate }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        {{ 'kingdom.defense.help' | translate }}
      </mat-card-content>

      <mat-card-content>
        <div matSubheader>{{ 'card.list.troops' | translate }}:</div>
        <mat-list dense
          id="2"
          cdkDropList
          cdkDropListOrientation="vertical"
          (cdkDropListDropped)="assignTroop($event)"
          [cdkDropListData]="defenseTroops">
          <mat-list-item *ngFor="let troop of defenseTroops" cdkDrag class="handle" [id]="troop.fid">
            <div mat-list-avatar [matBadge]="troop.quantity | short" matBadgePosition="above before">
              <img mat-list-avatar [src]="troop.join.image" alt="{{ troop.join.name | translate }}"/>
            </div>
            <div mat-line>{{ troop.join.name | translate }}</div>
            <div mat-line class="mat-card-subtitle">{{ troop.join.description | translate }}</div>
            <mat-icon>open_with</mat-icon>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

</div>
