<div class="kingdom-emporium" fxLayout="row wrap" fxLayoutGap="10px grid" [@fadeInOnEnter]>

  <div fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">

    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/images/cards/emporium.png">
        <mat-card-title>{{ 'kingdom.emporium.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'kingdom.emporium.description' | translate }}</mat-card-subtitle>
        <div class="mat-card-extras">
          <button mat-icon-button (click)="this.tutorialService.start('tour.emporium')"><mat-icon>help</mat-icon></button>
          <mat-chip-list><mat-chip color="primary"><mat-icon>sell</mat-icon>{{ emporiumItems.length | long }}</mat-chip></mat-chip-list>
        </div>
      </mat-card-header>

      <mat-card-content>
        <div matSubheader>{{ 'card.list.artifacts' | translate }}:</div>
        <mat-action-list dense tourAnchor="tour.emporium">
          <button mat-list-item *ngFor="let item of emporiumItems" (click)="openBuyDialog(item)" [ngClass]="item.legendary ? 'legendary' : 'common'">
            <div mat-list-avatar matBadge="1" matBadgePosition="above before">
              <img mat-list-avatar [src]="item.image">
            </div>
            <div mat-line>{{ item.name | translate }}</div>
            <div mat-line class="mat-card-subtitle" [innerHTML]="item.description | translate | icon:item"></div>
            <div mat-list-avatar [matBadge]="item.gems" matBadgePosition="above after">
              <img mat-list-avatar src="/assets/images/resources/gem.png">
            </div>
          </button>
        </mat-action-list>
      </mat-card-content>
      <mat-card-content>
        <p [innerHTML]="'kingdom.emporium.help' | translate | icon"></p>
      </mat-card-content>
    </mat-card>

  </div>

  <div fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">

    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/images/cards/mining.png">
        <mat-card-title>{{ 'kingdom.mining.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'kingdom.mining.description' | translate }}</mat-card-subtitle>
        <div class="mat-card-extras">
          <button mat-icon-button (click)="this.tutorialService.start('tour.packs')"><mat-icon>help</mat-icon></button>
          <mat-chip-list><mat-chip color="primary"><mat-icon>loyalty</mat-icon>{{ emporiumPacks.length | long }}</mat-chip></mat-chip-list>
        </div>
      </mat-card-header>

      <mat-card-content>
        <div matSubheader>{{ 'card.list.packs' | translate }}:</div>
        <mat-action-list dense tourAnchor="tour.packs">
          <button mat-list-item *ngFor="let pack of emporiumPacks" class="common" disabled>
            <div mat-list-avatar [matBadge]="pack.quantity" matBadgePosition="above before">
              <img mat-list-avatar [src]="pack.image">
            </div>
            <div mat-line>{{ pack.name | translate }}</div>
            <div mat-line class="mat-card-subtitle">{{ pack.description | translate }}</div>
            <div mat-list-avatar [matBadge]="pack.money + '€'" matBadgePosition="above after">
              <img mat-list-avatar src="/assets/images/stores/merchant.png">
            </div>
          </button>
        </mat-action-list>
      </mat-card-content>
      <mat-card-content>
        <p [innerHTML]="'kingdom.mining.help' | translate | icon"></p>
      </mat-card-content>
    </mat-card>

  </div>
</div>
