.kingdom-archive {
  padding: 10px;
  .mat-column-select {
    overflow: initial;
  }
  .mat-toolbar {
    background-color: transparent;
    .mat-toolbar-row {
      padding: 0 0 0 12px;
    }
  }
  .letter-form {
    .mat-form-field {
      width: 100%;
    }
  }
}

// responsive custom table
@media screen and (max-width: 960px) {
  .kingdom-archive {
    .mat-toolbar {
      .mat-toolbar-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        padding: 0;
        justify-content: flex-end;
        align-items: flex-end;
        .fill-space {
          display: none;
        }
      }
    }
  }
}
