<div class="kingdom-archive table-responsive">
  <mat-card>

    <mat-card-header>
      <img mat-card-avatar src="/assets/images/icons/archive.png" alt="{{ 'kingdom.archive.name' | translate }}">
      <mat-card-title >{{ 'kingdom.archive.name' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'kingdom.archive.description' | translate }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      {{ 'kingdom.archive.help' | translate }}
    </mat-card-content>

    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="flex-end">
        <mat-form-field>
          <mat-label>{{ 'table.filter.name' | translate }}</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="{{ 'table.filter.name' | translate }}">
        </mat-form-field>
      </div>

      <table mat-table matSort [dataSource]="data">
        <ng-container matColumnDef="{{ column }}" *ngFor="let column of columns">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</mat-header-cell>
          <mat-cell *matCellDef="let kingdom" [attr.data-label]="column">
            {{ column === 'from' ? kingdom['join']['name'] : column === 'date' ? ((kingdom[column]).toMillis() | date) : kingdom[column] }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;" class="item-row"></mat-row>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>