.kingdom-archive {
  padding: 10px;
  .mat-column-select {
    overflow: initial;
  }
  .mat-toolbar {
    background-color: transparent;
    .mat-toolbar-row {
      padding: 0px;
    }
  }
  .mat-cell:first-of-type {
    padding-left: 6px !important;
  }
  .mat-header-cell:first-of-type,
  .mat-cell:first-of-type {
    max-width: 5%;
  }
  .mat-checkbox {
    margin-left: 6px;
  }
}

// responsive custom table
@media screen and (max-width: 960px) {
  .kingdom-archive {
    .mat-header-cell:first-of-type,
    .mat-cell:first-of-type {
      max-width: 100%;
    }
    .mat-toolbar {
      .mat-toolbar-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        padding: 0;
        justify-content: flex-end;
        align-items: flex-end;
        .fill-space {
          display: none;
        }
      }
    }
  }
}
