<div class="kingdom-archive table-responsive" [@fadeInOnEnter]>
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="/assets/images/icons/archive.png" alt="{{ 'kingdom.archive.name' | translate }}"/>
      <mat-card-title>{{ "kingdom.archive.name" | translate }}</mat-card-title>
      <mat-card-subtitle>{{ "kingdom.archive.description" | translate }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      {{ "kingdom.archive.help" | translate }}
    </mat-card-content>

    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="flex-end">
        <mat-form-field>
          <mat-label>{{ "kingdom.archive.filter" | translate }}</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="{{ 'kingdom.archive.filter' | translate }}" />
        </mat-form-field>
      </div>

      <table mat-table matSort [dataSource]="data">
        <ng-container matColumnDef="{{ column }}" *ngFor="let column of columns">
          <ng-container *ngIf="column === 'select'; else noSelect">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let letter">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(letter) : null" [checked]="selection.isSelected(letter)"></mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-template #noSelect>
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</mat-header-cell>
            <mat-cell *matCellDef="let letter" [attr.data-label]="column">
              {{ column === "from" ? letter["join"]["name"] : column === "timestamp" ? (letter[column].toMillis() | date) : letter[column] }}
            </mat-cell>
          </ng-template>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let letter; columns: columns" class="item-row" (click)="openLetterDialog(letter)"></mat-row>
      </table>

      <mat-toolbar>
        <mat-toolbar-row>
          <button mat-icon-button [disabled]="!selection.selected.length" (click)="deleteLetters()"><mat-icon>delete</mat-icon></button>
          <button mat-icon-button (click)="newLetter()"><mat-icon>add_circle</mat-icon></button>
          <span class="fill-space"></span>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-toolbar-row>
      </mat-toolbar>

    </mat-card-content>
  </mat-card>
</div>
