<div id="map" class="map-container"></div>

<div class="map-admin">
  <button mat-mini-fab color="primary" [matMenuTriggerFor]="adminMenu"><mat-icon>security</mat-icon></button>

  <mat-menu #adminMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="kingdomMenu"><mat-icon>person</mat-icon>Bot</button>
    <button mat-menu-item [matMenuTriggerFor]="shopMenu"><mat-icon>attach_money</mat-icon>Tienda</button>
    <button mat-menu-item [matMenuTriggerFor]="questMenu"><mat-icon>search</mat-icon>Lugar</button>
    <button mat-menu-item (click)="populateMap()"><mat-icon>map</mat-icon>Auto</button>
  </mat-menu>

  <mat-menu #kingdomMenu="matMenu">
    <button mat-menu-item *ngFor="let faction of factions" (click)="addKingdom(faction.id)" class="map-admin-button"><img [src]="faction.marker">{{ faction.name | translate }}</button>
  </mat-menu>

  <mat-menu #shopMenu="matMenu">
    <button mat-menu-item *ngFor="let store of stores" (click)="addShop(store.id)" class="map-admin-button"><img [src]="store.image">{{ store.name | translate }}</button>
  </mat-menu>

  <mat-menu #questMenu="matMenu">
    <button mat-menu-item *ngFor="let location of locations" (click)="addQuest(location.id)" class="map-admin-button"><img [src]="location.image">{{ location.name | translate }}</button>
  </mat-menu>

</div>
