@import "https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css";

.map-container {
  height: 100%;
  // width: 100vw;
  overflow: hidden;
  position: relative;
}
::ng-deep .marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
::ng-deep .marker-shadow {
  width: 100%;
  box-shadow: 0px 10px 10px 0px black;
  height: 1px;
}
::ng-deep a.mapboxgl-ctrl-logo {
  display: none !important;
}
::ng-deep .mapboxgl-popup-content {
  background: transparent;
  box-shadow: none;
  padding: 0;
  pointer-events: auto;
}
::ng-deep .mapboxgl-popup-tip {
  display: none;
}
