<div class="kingdom-temple" fxLayout="row wrap" fxLayoutGap="10px grid" [@fadeInOnEnter]>

  <div fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">

    <mat-card>

      <mat-card-header>
        <img mat-card-avatar src="/assets/images/cards/temple.png">
        <mat-card-title >{{ 'kingdom.temple.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'kingdom.temple.description' | translate }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        {{ 'kingdom.temple.help' | translate }}
      </mat-card-content>

      <mat-card-content>
        <div matSubheader>{{ 'card.list.gods' | translate }}:</div>
        <mat-action-list dense tourAnchor="tour.temple">
          <button mat-list-item *ngFor="let god of kingdomGods" [disabled]="god.kingdom === uid" (click)="openOfferDialog(god)">
            <div mat-list-avatar matBadge="?" matBadgePosition="above before">
              <img mat-list-avatar [src]="god.image">
            </div>
            <div mat-line>{{ god.name | translate }}</div>
            <div mat-line class="mat-card-subtitle">{{ god.description | translate }}</div>
            <div mat-list-avatar [matBadge]="god.gold | short" matBadgePosition="above after">
              <img mat-list-avatar src="/assets/images/resources/gold.png">
            </div>
          </button>
        </mat-action-list>
      </mat-card-content>

    </mat-card>

  </div>

  <div fxFlex.xl="66" fxFlex.lg="66" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">

    <div fxLayout="row wrap" fxLayoutGap="10px grid">
      <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">

        <mat-card>
          <mat-card-header>
            <img mat-card-avatar src="/assets/images/cards/dispel.png">
            <mat-card-title >{{ 'kingdom.dispel.name' | translate }}</mat-card-title>
            <mat-card-subtitle>{{ 'kingdom.dispel.description' | translate }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            {{ 'kingdom.dispel.help' | translate }}
          </mat-card-content>

          <mat-card-content>
            <div matSubheader>{{ 'card.list.enchantments' | translate }}:</div>
            <mat-action-list dense tourAnchor="tour.dispel">
              <button mat-list-item *ngFor="let enchantment of kingdomEnchantments" (click)="openDispelDialog(enchantment)" [ngClass]="{ 'legendary': enchantment.join.legendary }">
                <div mat-list-avatar [matBadge]="enchantment.level" matBadgePosition="above before" [matBadgeColor]="enchantment.from === uid ? 'accent' : 'warn'">
                  <img mat-list-avatar [src]="enchantment.join.image">
                </div>
                <div mat-line>{{ enchantment.join.name | translate }}</div>
                <div mat-line class="mat-card-subtitle" [innerHTML]="enchantment.join.description | translate | icon:enchantment.join.skills:enchantment.join.categories:enchantment.join.families:enchantment.join.units:enchantment.join.resources:enchantment.join.spells:enchantment.adjacents:enchantment.opposites"></div>
                <div mat-line>
                  <mat-progress-bar [color]="enchantment.from === uid ? 'accent' : 'warn'" [value]="enchantment.turns * 100 / enchantment.join.duration"></mat-progress-bar>
                </div>
                <div mat-list-avatar [matBadge]="enchantment.turns" matBadgePosition="above after" [matBadgeColor]="enchantment.from === uid ? 'accent' : 'warn'">
                  <img mat-list-avatar src="/assets/images/resources/turn.png">
                </div>
              </button>
            </mat-action-list>
          </mat-card-content>
        </mat-card>

      </div>
    </div>

  </div>
</div>
