<div class="kingdom-auction table-responsive" [@fadeInOnEnter]>
  <mat-card>

    <mat-card-header>
      <img mat-card-avatar src="/assets/images/cards/auction.png" [alt]="'kingdom.auction.name' | translate">
      <mat-card-title>{{ 'kingdom.auction.name' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'kingdom.auction.description' | translate }}</mat-card-subtitle>
      <div class="mat-card-extras">
        <button mat-icon-button (click)="startTour('tour.auction')"><mat-icon>help</mat-icon></button>
        <mat-chip-list><mat-chip color="primary"><mat-icon>gavel</mat-icon>{{ table.data.length | long }}</mat-chip></mat-chip-list>
      </div>
    </mat-card-header>

    <mat-card-content>
      <p [innerHTML]="'kingdom.auction.help' | translate | icon"></p>
      <table mat-table matSort matSortActive="name" matSortDirection="asc" [dataSource]="table" tourAnchor="tour.auction" [attr.aria-label]="'kingdom.auction.name' | translate">
        <ng-container matColumnDef="{{ column }}" *ngFor="let column of columns">
          <mat-header-cell class="table-header" *matHeaderCellDef>
            <div mat-sort-header>{{ 'table.column.' + column | translate }}</div>

            <mat-form-field class="table-filter" *ngIf="filters[column] && filters[column].type === 'text'">
              <input matInput [(ngModel)]="filters[column].value" (keyup)="applyFilter()" autocomplete="off">
              <button mat-button *ngIf="filters[column].value" matSuffix mat-icon-button (click)="filters[column].value=''; applyFilter()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
<!--
            <mat-form-field class="table-filter" *ngIf="filters[column] && filters[column].type === 'select'">
              <mat-select [(ngModel)]="filters[column].value" (selectionChange)="applyFilter()">
                <mat-option value="">{{ 'table.filter.any' | translate }}</mat-option>
                <mat-option *ngFor="let option of filters[column].options" [value]="option.value">{{ option.name | translate }}</mat-option>
              </mat-select>
            </mat-form-field>
-->
            <mat-form-field class="table-filter" *ngIf="filters[column] && filters[column].type === 'select'">
              <mat-select [(ngModel)]="filters[column].value" (selectionChange)="applyFilter()">
                <mat-option *ngFor="let option of filters[column].options" [value]="option">
                  <mat-list dense>
                    <mat-list-item [ngClass]="option.id">
                      <div mat-list-avatar>
                        <img mat-list-avatar [src]="option.image" [alt]="option.name | translate">
                      </div>
                      <div mat-line>{{ option.name | translate }}</div>
                    </mat-list-item>
                  </mat-list>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-header-cell>

          <mat-cell *matCellDef="let auction" [attr.data-label]="'table.column.' + column | translate">

            <ng-template [ngIf]="column === 'name'">
              <mat-list dense>
                <mat-list-item [ngClass]="[auction.join.faction.id, auction.join.legendary ? 'legendary' : 'common']">
                  <div mat-list-avatar [matBadge]="(auction.quantity || auction.level || auction.spell.level) | short" matBadgePosition="above before">
                    <img mat-list-avatar [src]="auction.join.image" [alt]="auction.join.name | translate">
                  </div>
                  <div mat-line>{{ auction.join.name | translate:{name:auction.name} }}</div>
                  <div mat-line class="mat-card-subtitle" *ngIf="['artifact', 'contract', 'charm'].includes(auction.type)" [innerHTML]="auction.join.description | translate | icon:auction.join"></div>
                  <div mat-line class="mat-card-subtitle" *ngIf="['troop'].includes(auction.type)">
                    <img [title]="family.name | translate" class="icon" *ngFor="let family of auction.join.families" [src]="family.image" [alt]="family.name | translate">
                    <img [title]="skill.name | translate" class="icon" *ngFor="let skill of auction.join.skills" [src]="skill.image" [alt]="skill.name | translate">
                    <img [title]="category.name | translate" class="icon" *ngFor="let category of auction.join.categories" [src]="category.image" [alt]="category.name | translate">
                    <img [title]="'category.legendary.name' | translate" class="icon" *ngIf="auction.join.legendary" src="/assets/images/icons/legendary.png" [alt]="'category.legendary.name' | translate">
                  </div>
                  <div mat-line class="mat-card-subtitle" *ngIf="['troop'].includes(auction.type) && auction.join.resistances && auction.join.resistances.length">
                    <img [title]="('category.resistance.name' | translate) + (category.name | translate)" class="icon grayscale" *ngFor="let category of auction.join.resistances" [src]="category.image" [alt]="'category.resistance.name' | translate">
                  </div>
                  <div mat-list-avatar [matBadge]="auction.gold | long" matBadgePosition="above after">
                    <img mat-list-avatar src="/assets/images/resources/gold.png" [alt]="'resource.gold.name' | translate">
                  </div>
                </mat-list-item>
              </mat-list>
            </ng-template>

            <ng-template [ngIf]="column === 'faction'">
              <mat-list dense>
                <mat-list-item [ngClass]="auction.join.faction.id">
                  <div mat-list-avatar>
                    <img mat-list-avatar [src]="auction.join.faction.image" [alt]="auction.join.faction.name | translate">
                  </div>
                  <div mat-line>{{ auction.join.faction.name | translate }}</div>
                  <div mat-line class="mat-card-subtitle" [innerHTML]="auction.join.faction.description | translate | icon:auction.join.faction"></div>
                </mat-list-item>
              </mat-list>
            </ng-template>

            <ng-template [ngIf]="column === 'actions'">
              <mat-chip color="primary" class="clock" selected><mat-icon>update</mat-icon>{{ auction.auctioned.toMillis() | date:('dateformat.short' | translate) }}</mat-chip>
              <span class="fill-space"></span>
              <button mat-mini-fab color="primary" title="{{ 'kingdom.auction.bid' | translate }}" [disabled]="auction.kingdom === uid" (click)="openBidDialog(auction, $event)">
                <mat-icon>gavel</mat-icon>
              </button>
            </ng-template>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let auction; columns: columns; let i = index" [tourAnchor]="i === 0 ? 'tour.bid' : null" (click)="openTomeDialog(auction.join)"></mat-row>
      </table>

      <mat-toolbar>
        <mat-toolbar-row>
          <button mat-mini-fab color="primary" (click)="clearFilter()"><mat-icon>rule</mat-icon></button>
          <span class="fill-space"></span>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-toolbar-row>
      </mat-toolbar>

    </mat-card-content>
  </mat-card>
</div>
