<div class="kingdom-auction table-responsive" [@fadeInOnEnter]>
  <mat-card>

    <mat-card-header>
      <img mat-card-avatar src="/assets/images/icons/auction.png" alt="{{ 'kingdom.auction.name' | translate }}">
      <mat-card-title >{{ 'kingdom.auction.name' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'kingdom.auction.description' | translate }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      {{ 'kingdom.auction.help' | translate }}
    </mat-card-content>

    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="flex-end">
        <mat-form-field>
          <mat-label>{{ 'table.filter.name' | translate }}</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="{{ 'table.filter.name' | translate }}">
        </mat-form-field>
      </div>

      <table mat-table matSort [dataSource]="data">
        <ng-container matColumnDef="{{ column }}" *ngFor="let column of columns">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</mat-header-cell>
          <mat-cell *matCellDef="let auction" [attr.data-label]="column">
            <span *ngIf="column !== 'name'; else name">
              {{ auction[column] }}
            </span>
            <ng-template #name>
              <mat-list dense>
                <mat-list-item>
                  <div mat-list-avatar [matBadge]="auction.quantity | short" matBadgePosition="above before">
                    <img mat-list-avatar [src]="auction.join.image" alt="{{ auction.join.name | translate }}"/>
                  </div>
                  <div mat-line>{{ auction.join.name | translate }}</div>
                  <div mat-line class="mat-card-subtitle">{{ auction.join.description | translate }}</div>
                </mat-list-item>
              </mat-list>
            </ng-template>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;" class="item-row"></mat-row>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
