<div class="kingdom-sorcery" fxLayout="row wrap" fxLayoutGap="10px grid" [@fadeInOnEnter]>

  <div fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/images/cards/sorcery.png">
        <mat-card-title >{{ 'kingdom.sorcery.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'kingdom.sorcery.description' | translate }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        {{ 'kingdom.sorcery.help' | translate }}
      </mat-card-content>

      <mat-card-content>
        <div matSubheader>{{ 'card.list.artifacts' | translate }}:</div>
        <mat-action-list dense class="dotted" id="0" tourAnchor="tour.artifacts" #kngdmArtifacts="cdkDropList" [cdkDropListConnectedTo]="[atckArtifacts, defArtifacts]" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="assignArtifact($event)" [cdkDropListData]="kingdomArtifacts">
          <button mat-list-item *ngFor="let artifact of kingdomArtifacts" cdkDrag [cdkDragDisabled]="!artifact.join.battle" [ngClass]="{ 'handle': artifact.join.battle }" [id]="artifact.fid" (click)="!artifact.join.battle ? openActivateDialog(artifact) : null">
            <div mat-list-avatar [matBadge]="artifact.quantity" matBadgePosition="above before">
              <img mat-list-avatar [src]="artifact.join.image">
            </div>
            <div mat-line>{{ artifact.join.name | translate }}</div>
            <div mat-line class="mat-card-subtitle" [innerHTML]="artifact.join.description | translate | icon:artifact.join.skills:artifact.join.categories:artifact.join.families:artifact.join.units:artifact.join.resources:artifact.join.spells:artifact.join.adjacents:artifact.join.opposites">
            </div>
            <mat-icon *ngIf="artifact.join.battle">open_with</mat-icon>
            <div mat-list-avatar *ngIf="!artifact.join.battle" [matBadge]="1" matBadgePosition="above after">
              <img mat-list-avatar src="/assets/images/resources/turn.png">
            </div>
          </button>
        </mat-action-list>

        <div matSubheader>{{ 'card.list.charms' | translate }}:</div>
        <mat-action-list dense class="dotted" id="3" tourAnchor="tour.spells" #kngdmCharms="cdkDropList" [cdkDropListConnectedTo]="[atckCharms, defCharms]" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="assignCharm($event)" [cdkDropListData]="kingdomCharms">
          <button mat-list-item *ngFor="let charm of kingdomCharms" cdkDrag [cdkDragDisabled]="!charm.join.battle || !charm.completed" [ngClass]="{ 'handle': charm.join.battle && charm.completed }" (click)="!charm.completed ? openResearchDialog(charm) : !charm.join.battle ? openConjureDialog(charm) : null" [id]="charm.fid">
            <div mat-list-avatar [matBadge]="charm.join.level | short" matBadgePosition="above before">
              <img mat-list-avatar [src]="charm.join.image">
            </div>
            <div mat-line>{{ charm.join.name | translate }}</div>
            <div mat-line class="mat-card-subtitle" [innerHTML]="charm.join.description | translate | icon:charm.join.skills:charm.join.categories:charm.join.families:charm.join.units:charm.join.resources:charm.join.spells:charm.join.adjacents:charm.join.opposites"></div>
            <div mat-line *ngIf="!charm.completed">
              <mat-progress-bar [value]="charm.turns * 100 / charm.join.research"></mat-progress-bar>
            </div>
            <mat-icon *ngIf="charm.join.battle && charm.completed">open_with</mat-icon>
            <div mat-list-avatar *ngIf="!charm.join.battle" [matBadge]="!charm.completed ? (charm.join.research - charm.turns) : charm.join.turns" matBadgePosition="above after">
              <img mat-list-avatar src="/assets/images/resources/turn.png">
            </div>
          </button>
        </mat-action-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.xl="66" fxFlex.lg="66" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
    <div fxLayout="row wrap" fxLayoutGap="10px grid">
      <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">

        <mat-card>
          <mat-card-header>
            <img mat-card-avatar src="/assets/images/cards/arcanism.png">
            <mat-card-title >{{ 'kingdom.arcanism.name' | translate }}</mat-card-title>
            <mat-card-subtitle>{{ 'kingdom.arcanism.description' | translate }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            {{ 'kingdom.arcanism.help' | translate }}
          </mat-card-content>

          <mat-card-content>
            <div matSubheader>{{ 'card.list.artifacts' | translate }}:</div>
            <mat-list dense class="dotted" id="1" #atckArtifacts="cdkDropList" [cdkDropListConnectedTo]="[kngdmArtifacts, defArtifacts]" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="assignArtifact($event)" [cdkDropListData]="attackArtifacts">
              <mat-list-item *ngFor="let artifact of attackArtifacts" cdkDrag class="handle" [id]="artifact.fid">
                <div mat-list-avatar [matBadge]="artifact.quantity" matBadgePosition="above before">
                  <img mat-list-avatar [src]="artifact.join.image">
                </div>
                <div mat-line>{{ artifact.join.name | translate }}</div>
                <div mat-line class="mat-card-subtitle" [innerHTML]="artifact.join.description | translate | icon:artifact.join.skills:artifact.join.categories:artifact.join.families:artifact.join.units:artifact.join.resources:artifact.join.spells:artifact.join.adjacents:artifact.join.opposites"></div>
                <mat-icon *ngIf="artifact.join.battle">open_with</mat-icon>
              </mat-list-item>
            </mat-list>

            <div matSubheader>{{ 'card.list.charms' | translate }}:</div>
            <mat-list dense class="dotted" id="4" #atckCharms="cdkDropList" [cdkDropListConnectedTo]="[kngdmCharms, defCharms]" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="assignCharm($event)" [cdkDropListData]="attackCharms">
              <mat-list-item *ngFor="let charm of attackCharms" cdkDrag class="handle" [id]="charm.fid">
                <div mat-list-avatar [matBadge]="charm.join.level | short" matBadgePosition="above before">
                  <img mat-list-avatar [src]="charm.join.image">
                </div>
                <div mat-line>{{ charm.join.name | translate }}</div>
                <div mat-line class="mat-card-subtitle" [innerHTML]="charm.join.description | translate | icon:charm.join.skills:charm.join.categories:charm.join.families:charm.join.units:charm.join.resources:charm.join.spells:charm.join.adjacents:charm.join.opposites"></div>
                <mat-icon>open_with</mat-icon>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
        <mat-card>
          <mat-card-header>
            <img mat-card-avatar src="/assets/images/cards/protection.png">
            <mat-card-title >{{ 'kingdom.protection.name' | translate }}</mat-card-title>
            <mat-card-subtitle>{{ 'kingdom.protection.description' | translate }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            {{ 'kingdom.protection.help' | translate }}
          </mat-card-content>

          <mat-card-content>
            <div matSubheader>{{ 'card.list.artifacts' | translate }}:</div>
            <mat-list dense class="dotted" id="2" #defArtifacts="cdkDropList" [cdkDropListConnectedTo]="[kngdmArtifacts, atckArtifacts]" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="assignArtifact($event)" [cdkDropListData]="defenseArtifacts">
              <mat-list-item *ngFor="let artifact of defenseArtifacts" cdkDrag class="handle" [id]="artifact.fid">
                <div mat-list-avatar [matBadge]="artifact.quantity" matBadgePosition="above before">
                  <img mat-list-avatar [src]="artifact.join.image">
                </div>
                <div mat-line>{{ artifact.join.name | translate }}</div>
                <div mat-line class="mat-card-subtitle" [innerHTML]="artifact.join.description | translate | icon:artifact.join.skills:artifact.join.categories:artifact.join.families:artifact.join.units:artifact.join.resources:artifact.join.spells:artifact.join.adjacents:artifact.join.opposites"></div>
                <mat-icon *ngIf="artifact.join.battle">open_with</mat-icon>
              </mat-list-item>
            </mat-list>

            <div matSubheader>{{ 'card.list.charms' | translate }}:</div>
            <mat-list dense class="dotted" id="5" #defCharms="cdkDropList" [cdkDropListConnectedTo]="[kngdmCharms, atckCharms]" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="assignCharm($event)" [cdkDropListData]="defenseCharms">
              <mat-list-item *ngFor="let charm of defenseCharms" cdkDrag class="handle" [id]="charm.fid">
                <div mat-list-avatar [matBadge]="charm.join.level | short" matBadgePosition="above before">
                  <img mat-list-avatar [src]="charm.join.image">
                </div>
                <div mat-line>{{ charm.join.name | translate }}</div>
                <div mat-line class="mat-card-subtitle" [innerHTML]="charm.join.description | translate | icon:charm.join.skills:charm.join.categories:charm.join.families:charm.join.units:charm.join.resources:charm.join.spells:charm.join.adjacents:charm.join.opposites"></div>
                <mat-icon>open_with</mat-icon>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </div>
</div>
