.kingdom-sorcery {
  padding: 10px;
  ::ng-deep .mat-list-item:hover {
    background-color: #303030;
  }
  .handle {
    &:hover {
      cursor: move;
    }
    &:active {
      cursor: grabbing;
    }
  }
}
