@import "../../../colors.scss";

.map-marker {
  .mat-fab {
    width: 70px !important;
    height: 70px !important;
  }
  .mat-mini-fab {
    width: 40px !important;
    height: 40px !important;
  }
  .marker {
    ::ng-deep .mat-button-wrapper {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid $primary-color;
        box-sizing: border-box;
      }
    }
  }
}
