.map-marker {
  .mat-fab {
    width: 80px !important;
    height: 80px !important;
  }
  .mat-mini-fab {
    width: 50px !important;
    height: 50px !important;
  }
  .marker {
    ::ng-deep .mat-button-wrapper {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        padding: 2px;
        box-sizing: border-box;
      }
    }
  }
  ::ng-deep .mat-badge-content {
    font-family: 'Material Icons', sans-serif;
  }
}
