<div class="app-login">
  <form [formGroup]="form" (ngSubmit)="login()" fxLayout="row" fxLayoutAlign="center center">

    <mat-card fxFlex.xl="25" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="66" fxFlex.xs="100">
      <mat-card-header>
        <img mat-card-avatar src="/assets/images/icons/login.png" alt="icon">
        <mat-card-title>{{ 'user.login.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'user.login.description' | translate }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-tab-group mat-align-tabs="center" (selectedTabChange)="changeType($event)">
          <mat-tab *ngFor="let type of types" [label]="'user.login.' + type | translate"></mat-tab>
        </mat-tab-group>

        <mat-form-field [color]="email.valid && 'accent'">
          <input matInput formControlName="email" placeholder="{{ 'user.login.email' | translate }}" autocomplete="off"/>
          <mat-error *ngIf="email.invalid && email.dirty">{{ 'user.login.invalid' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field [color]="password.valid && 'accent'" *ngIf="type !== 'reset'">
          <input matInput type="password" formControlName="password" placeholder="{{ 'user.login.password' | translate }}" autocomplete="off"/>
          <mat-error *ngIf="password.invalid && password.dirty">{{ 'user.login.insecure' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field [color]="match ? 'accent' : 'warn'" *ngIf="type === 'signup'">
          <input matInput type="password" formControlName="password2" placeholder="{{ 'user.login.password2' | translate }}" autocomplete="off"/>
          <mat-error *ngIf="password2.dirty && !match">{{ 'user.login.mismatch' | translate }}</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button type="button" (click)="google()" class="flag-menu">
          <img src="/assets/images/brands/google.png"/>
          <span>Google</span>
        </button>
        <span class="fill-space"></span>
        <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid || !match || loading" cdkFocusInitial>{{ 'user.login.accept' | translate }}</button>
      </mat-card-actions>
    </mat-card>

  </form>
</div>
