<div class="app-login">
  <form [formGroup]="form" (ngSubmit)="login()" fxLayout="row" fxLayoutAlign="center center">

    <mat-card fxFlex.xl="25" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="66" fxFlex.xs="100">
      <mat-card-header>
        <img mat-card-avatar src="/assets/images/cards/login.png">
        <mat-card-title>{{ 'user.login.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'user.login.description' | translate }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-tab-group mat-align-tabs="center" (selectedTabChange)="changeType($event)">
          <mat-tab *ngFor="let type of types" [label]="'user.login.' + type | translate"></mat-tab>
        </mat-tab-group>

        <mat-form-field *ngIf="type === 'signup'">
          <mat-label>{{ 'user.login.faction' | translate }}</mat-label>
          <mat-select formControlName="faction">
            <mat-select-trigger *ngIf="form.value.faction">
              <mat-list dense>
                <mat-list-item>
                  <div mat-list-avatar>
                    <img mat-list-avatar [src]="form.value.faction.image">
                  </div>
                  <div mat-line>{{ form.value.faction.name | translate }}</div>
                  <div mat-line class="mat-card-subtitle" [innerHTML]="form.value.faction.description | translate | icon:form.value.faction"></div>
                </mat-list-item>
              </mat-list>
            </mat-select-trigger>
            <mat-option *ngFor="let faction of factions" [value]="faction">
              <mat-list dense>
                <mat-list-item>
                  <div mat-list-avatar>
                    <img mat-list-avatar [src]="faction.image">
                  </div>
                  <div mat-line>{{ faction.name | translate }}</div>
                  <div mat-line class="mat-card-subtitle" [innerHTML]="faction.description | translate | icon:faction"></div>
                </mat-list-item>
              </mat-list>
            </mat-option>
          </mat-select>
          <mat-error>{{ 'user.login.unfactioned' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="type === 'signup'">
          <input matInput type="text" formControlName="username" placeholder="{{ 'user.login.username' | translate }}" autocomplete="off">
          <mat-error>{{ 'user.login.invalid' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" formControlName="email" placeholder="{{ 'user.login.email' | translate }}" autocomplete="off">
          <mat-error>{{ 'user.login.invalid' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="type !== 'reset'">
          <input matInput type="password" formControlName="password" placeholder="{{ 'user.login.password' | translate }}" autocomplete="off">
          <mat-error>{{ 'user.login.insecure' | translate }}</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="type === 'signup'">
          <input matInput type="password" formControlName="password2" placeholder="{{ 'user.login.password2' | translate }}" autocomplete="off">
          <mat-error>{{ 'user.login.mismatch' | translate }}</mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button type="button" (click)="google()" class="flag-menu">
          <img src="/assets/images/brands/google.png">
          <span>Google</span>
        </button>
        <span class="fill-space"></span>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" cdkFocusInitial>{{ 'user.login.accept' | translate }}</button>
      </mat-card-actions>
    </mat-card>

  </form>
</div>
