// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import url("https://use.typekit.net/jnq3uxd.css");
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$md-green: (
  50 : #e7efe4,
  100 : #c3d6bb,
  200 : #9cbb8e,
  300 : #749f61,
  400 : #568b3f,
  500 : #38761d,
  600 : #326e1a,
  700 : #2b6315,
  800 : #245911,
  900 : #17460a,
  A100 : #94ff7d,
  A200 : #6aff4a,
  A400 : #40ff17,
  A700 : #2dfc00,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mage-primary: mat-palette($md-green);
$mage-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mage-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$mage-theme: mat-dark-theme($mage-primary, $mage-accent, $mage-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mage-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-standard-chip {
  min-height: 24px !important;
  padding: 5px 7px !important;
}
.mat-chip {
  font-size: 0.85em !important;
  .mat-icon {
    margin-right: 5px !important;
    font-size: 1em !important;
    height: auto;
    width: auto;
  }
}

.fill-space {
  flex: 1 1 auto;
}

.table-responsive {
  table {
    width: 100%;
  }
  .mat-row:hover {
    background: #303030;
    cursor: pointer;
  }
  .mat-row td {
    border-bottom-width: 0;
  }
  .mat-row .mat-cell img {
    width: 64px;
    height: 64px;
    margin: 5px;
    border-radius: 4px;
  }
  .mat-row::after, .mat-header-row::after, .mat-footer-row::after {
    display: none;
  }
  .table-responsive-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// responsive custom table
@media screen and (max-width: 960px) {
  .table-responsive {
    .mat-form-field {
      width: 100%;
    }
    .mat-table {
      border: 0;
      vertical-align: middle
    }
    .mat-table caption {
      font-size: 1em;
    }
    .mat-table .mat-row {
      display: block;
    }
    .mat-table .mat-row:not(:last-of-type) {
      border-bottom: 3px solid #303030;
    }
    .mat-row, .mat-footer-row {
      min-height: auto;
    }
    .mat-row .mat-cell img {
      height: 32px;
      width: 32px;
    }
    .mat-table .mat-cell {
      border-bottom: 1px solid rgba(255, 255, 255, 0.12);
      display: flex;
      font-size: 1em;
      text-align: right;
      font-weight: bold;
      justify-content: space-between;
      align-items: center;
      min-height: 42px;
    }
    .mat-table .mat-cell:before {
      content: attr(data-label);
      text-transform: uppercase;
      font-weight: normal;
      font-size: .85em;
    }
    .table-responsive-image-wrapper {
      flex-direction: row-reverse;
    }
    .mat-table .mat-cell:last-child {
      border-bottom: 0;
    }
    .mat-cell:first-of-type, .mat-header-cell:first-of-type, .mat-footer-cell:first-of-type {
      padding-left: 0;
    }
    .mat-cell:last-of-type, .mat-header-cell:last-of-type, .mat-footer-cell:last-of-type {
      padding-right: 0;
    }
    .mat-cell, .mat-header-cell, .mat-footer-cell {
      justify-content: center;
    }
  }
}