// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import url("https://use.typekit.net/jnq3uxd.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Uncial+Antiqua&display=swap');
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat-typography-config($font-family: "'Open Sans', sans-serif");
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$md-palette: (
  50 : #f3e0f3,
  100 : #e0b3e1,
  200 : #cc80ce,
  300 : #b84dba,
  400 : #a826ab,
  500 : #99009c,
  600 : #910094,
  700 : #86008a,
  800 : #7c0080,
  900 : #6b006e,
  A100 : #fb9dff,
  A200 : #f96aff,
  A400 : #f737ff,
  A700 : #f61eff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$theme-primary: mat-palette($md-palette);
$theme-accent: mat-palette($mat-green, 600);
$theme-warn: mat-palette($mat-red, 600);
$theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
@include angular-material-theme($theme);

$primary-color: mat-color($theme-primary);
$accent-color: mat-color($theme-accent);
$warn-color: mat-color($theme-warn);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0;
}

// font headings
.mat-card-header .mat-card-title,
.mat-card-title,
.mat-list-text .mat-line:first-of-type,
.mat-toolbar .logo,
.mat-dialog-title,
.mat-button-base,
.app-landing h1, .app-landing h3 {
  font-family: 'Uncial Antiqua', cursive !important;
}

.mat-standard-chip {
  min-height: 26px !important;
  padding: 8px !important;
  margin: 2px;
}
.mat-chip {
  font-size: 0.85em !important;
  img {
    margin-right: 3px !important;
    margin-left: -3px !important;
  }
}

.fill-space {
  flex: 1 1 auto;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.mat-list-item-disabled {
  opacity: 0.5;
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: inline-block;
  position: relative;
}

.table-responsive,
.table-no-responsive {
  table {
    width: 100%;
  }
  .mat-row:hover {
    background-color: rgba(255, 255, 255, 0.04);
    cursor: pointer;
  }
  .mat-row td {
    border-bottom-width: 0;
  }
  .mat-row::after, .mat-header-row::after, .mat-footer-row::after {
    display: none;
  }
  .table-header {
    padding: 5px;
  }
  .table-filter {
    display: block;
    width: 100%;
  }
  .mat-header-cell {
    flex-wrap: wrap;
  }
  .mat-cell {
    font-size: 12px !important;
    padding: 0 5px !important;
  }
  .mat-list-base {
    width: 100%;
  }
  .mat-form-field-infix {
    width: auto;
  }
}

.flag-menu {
  display: flex !important;
  align-items: center;
  img {
    margin-right: 10px;
  }
}

.mat-menu-item.active,
.mat-list-item.active {
  background-color: rgba(255, 255, 255, 0.04);
}

.mat-badge-content {
  width: auto !important;
  border-radius: 4px;
  padding: 0 5px;
}

.mat-card-content {
  margin-bottom: 0px !important;
}

.mat-list-base {
  padding-top: 0px !important;
}

.mat-list-base {
  .mat-list-avatar {
    width: 40px !important;
    height: 40px !important;
  }
}

.mat-card-content + .mat-card-content {
  margin-top: 8px;
}

.mat-list-base .mat-subheader:first-child {
  margin-top: 0 !important;
}

.mat-subheader {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  line-height: 8px;
  padding: 8px !important;
}

.mat-list-base:not(.mat-nav-list) {
  img.mat-list-avatar {
    box-sizing: content-box;
    border: 2px solid $primary-color;
  }
}

.mat-list-base:not(.supply-list) {
  .mat-list-item + .mat-list-item {
    // border-top: 1px solid $primary-color;
  }
  .mat-line {
    white-space: initial !important;
    line-height: 1.25 !important;
  }
  .mat-list-item-content {
    .mat-list-avatar:nth-of-type(3) {
      order: 9999;
      margin-left: 16px;
    }
    .mat-icon {
      margin-left: 16px;
    }
  }
  .mat-line.mat-card-subtitle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .mat-progress-bar {
    margin-top: 5px;
  }
}

.icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 2px;
  border: 1px solid $primary-color;
}

.mat-card,
.mat-dialog-container {
  opacity: 0.975;
}

// DRAG AND DROP
.cdk-drag-placeholder {
  opacity: 0.5;
  box-sizing: border-box;
  border: 2px dashed $primary-color;
}
.cdk-drag-animating,
.cdk-drop-list-dragging .cdk-drag {
  transition: transform .3s ease;
}
.cdk-drag-preview {
  opacity: 0.5;
  box-sizing: border-box;
  border: 2px dashed $primary-color;
  display: block;
  height: 76px;
  width: 100%;
  padding: 0;
  position: relative;
  background-color: #424242;
  color: white;
  font-size: 12px;
  .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    height: inherit;
    .mat-list-avatar {
      flex-shrink: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      img.mat-list-avatar {
        box-sizing: content-box;
        border: 2px solid $primary-color;
      }
    }
    .mat-list-text {
      display: flex;
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
      padding: 0;
      padding-right: 0;
      padding-left: 16px;
      .mat-line {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        box-sizing: border-box;
        text-align: start;
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-size: inherit;
        line-height: 1.25 !important;
      }
      .mat-line.mat-card-subtitle {
        display: flex;
        align-items: center;
      }
      .mat-line:nth-child(n+2) {
        font-size: 12px;
      }
    }
  }
}

.mat-list-base.dotted {
  padding-top: 0;
  min-height: 76px;
  border: 2px dashed $primary-color;
}
.mat-list {
  .mat-list-item {
    min-height: 76px !important;
    height: 76px !important;
    &.handle {
      &:hover {
        cursor: move;
        background-color: rgba(255, 255, 255, 0.04);
      }
      &:active {
        cursor: grabbing;
      }
    }
  }
}

.mat-card {
  .mat-card-header {
    .mat-card-header-text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .mat-card-subtitle {
        margin-bottom: 0;
      }
    }
  }
}

.mat-card:not(.map-popup) {
  .mat-card-header {
    background-color: #212121;
    margin: -16px -16px 16px -16px !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    .mat-card-avatar {
      height: 100px;
      width: auto;
      border-radius: 0;
      border-top-left-radius: 4px;
    }
  }
}

.dialog-responsive {
  min-width: 30vw !important;
  width: 30vw !important;
  max-width: 30vw !important;
}

// responsive custom table
@media screen and (max-width: 1280px) {
  .dialog-responsive {
    min-width: 60vw !important;
    width: 60vw !important;
    max-width: 60vw !important;
  }
}

// responsive custom table
@media screen and (max-width: 960px) {
  .dialog-responsive {
    min-width: 95vw !important;
    width: 95vw !important;
    max-width: 95vw !important;
  }
  .table-responsive {
    .mat-list-item-content {
      padding-right: 0 !important;
      flex-direction: row-reverse !important;
    }
    .mat-table {
      border: 0;
      vertical-align: middle
    }
    .mat-table caption {
      font-size: 1em;
    }
    .mat-table .mat-row {
      display: block;
    }
    .mat-table .mat-row:not(:last-of-type) {
      border-bottom: 3px solid #303030;
    }
    .mat-row, .mat-footer-row {
      min-height: auto;
    }
    .mat-table .mat-cell {
      border-bottom: 1px solid rgba(255, 255, 255, 0.12);
      display: flex;
      font-size: 1em;
      text-align: right;
      justify-content: space-between;
      align-items: center;
      min-height: 65px;
    }
    .mat-table .mat-cell:before {
      content: attr(data-label);
      // text-transform: uppercase;
      font-weight: normal;
      font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
      border-bottom: 0;
    }
    .mat-list-text {
      width: auto !important;
      align-items: flex-end !important;
      padding: 0 16px 0 0 !important;
    }
    .mat-cell {
      padding: 0 12px !important;
    }
    .mat-cell:first-of-type, .mat-header-cell:first-of-type, .mat-footer-cell:first-of-type {
      padding-left: 0;
    }
    .mat-cell:last-of-type, .mat-header-cell:last-of-type, .mat-footer-cell:last-of-type {
      padding-right: 0;
    }
    .mat-cell, .mat-header-cell, .mat-footer-cell {
      justify-content: center;
    }
  }
}
