<div class="kingdom-clan table-responsive" fxLayout="row wrap" fxLayoutGap="10px grid" [@fadeInOnEnter]>

  <div fxFlex.xl="66" fxFlex.lg="66" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">

    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/images/cards/clan.png" [alt]="'kingdom.clan.name' | translate">
        <mat-card-title>{{ 'kingdom.clan.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'kingdom.clan.description' | translate }}</mat-card-subtitle>
        <div class="mat-card-extras">
          <button mat-icon-button (click)="this.tutorialService.start('tour.clan')"><mat-icon>help</mat-icon></button>
          <mat-chip-list><mat-chip color="primary"><mat-icon>people</mat-icon>{{ data.data.length | long }}</mat-chip></mat-chip-list>
        </div>
      </mat-card-header>

      <mat-card-content>
        <p [innerHTML]="'kingdom.clan.help' | translate"></p>
        <table mat-table matSort [dataSource]="data" matSortDisableClear tourAnchor="tour.clan">
          <ng-container matColumnDef="{{ column }}" *ngFor="let column of columns">
            <mat-header-cell class="table-header" *matHeaderCellDef>

              <div mat-sort-header>{{ 'table.column.' + column | translate }}</div>

              <mat-form-field class="table-filter" *ngIf="filters[column] && filters[column].type === 'text'">
                <input matInput [(ngModel)]="filters[column].value" (keyup)="applyFilter()" autocomplete="off">
                <button mat-button *ngIf="filters[column].value" matSuffix mat-icon-button (click)="filters[column].value=''; applyFilter()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

            </mat-header-cell>

            <mat-cell *matCellDef="let clan" [attr.data-label]="'table.column.' + column | translate">

              <ng-template [ngIf]="column === 'name'">
                <mat-list dense>
                  <mat-list-item [ngClass]="clan.fid === kingdomClan$ ? 'legendary': 'common'">
                    <div mat-list-avatar>
                      <img mat-list-avatar [src]="clan.image" [alt]="'kingdom.clan.name' | translate">
                    </div>
                    <div mat-line>{{ clan.name }}</div>
                    <div mat-line class="mat-card-subtitle">{{ clan.description }}</div>
                    <div mat-list-avatar [matBadge]="clan.power | short" matBadgePosition="above after">
                      <img mat-list-avatar src="/assets/images/icons/power.png" [alt]="'icon.power.name' | translate">
                    </div>
                  </mat-list-item>
                </mat-list>
              </ng-template>

              <ng-template [ngIf]="column === 'actions'">
                <button mat-mini-fab color="primary" title="{{ 'kingdom.clan.join' | translate }}" (click)="joinClan(clan, $event)" [disabled]="clan.fid === (kingdomClan$ | async)?.fid">
                  <mat-icon>thumb_up</mat-icon>
                </button>
                <button mat-mini-fab color="primary" title="{{ 'kingdom.clan.leave' | translate }}" (click)="leaveClan(clan, $event)" [disabled]="clan.fid !== (kingdomClan$ | async)?.fid">
                  <mat-icon>thumb_down</mat-icon>
                </button>
              </ng-template>

            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let clan; columns: columns; let i = index" [tourAnchor]="i === 0 ? 'tour.kingdom' : null" (click)="openManifestDialog(clan)"></mat-row>
        </table>

        <mat-toolbar>
          <mat-toolbar-row>
            <button mat-mini-fab color="primary" title="{{ 'kingdom.clan.found' | translate }}" (click)="openFoundationDialog()" [disabled]="(kingdomClan$ | async)"><mat-icon>thumbs_up_down</mat-icon></button>
            <span class="fill-space"></span>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </mat-toolbar-row>
        </mat-toolbar>

      </mat-card-content>
    </mat-card>

  </div>

  <div fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">

    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="/assets/images/cards/guild.png" [alt]="'kingdom.guild.name' | translate">
        <mat-card-title>{{ 'kingdom.guild.name' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'kingdom.guild.description' | translate }}</mat-card-subtitle>
        <div class="mat-card-extras">
          <button mat-icon-button (click)="this.tutorialService.start('tour.guild')"><mat-icon>help</mat-icon></button>
          <mat-chip-list><mat-chip color="primary"><mat-icon>shield</mat-icon>{{ kingdomGuilds.length | long }}</mat-chip></mat-chip-list>
        </div>
      </mat-card-header>

      <mat-card-content>
        <p [innerHTML]="'kingdom.guild.help' | translate"></p>
        <div matSubheader>{{ 'card.list.guilds' | translate }}:</div>
        <mat-form-field tourAnchor="tour.guild">
          <mat-label>{{ 'kingdom.guild.select' | translate }}</mat-label>
          <mat-select [(ngModel)]="kingdomGuild">
            <mat-select-trigger *ngIf="kingdomGuild">
              <mat-list dense>
                <mat-list-item [ngClass]="kingdomGuild.faction.id">
                  <div mat-list-avatar>
                    <img mat-list-avatar [src]="kingdomGuild.image" [alt]="kingdomGuild.name | translate">
                  </div>
                  <div mat-line>{{ kingdomGuild.name | translate }}</div>
                  <div mat-line class="mat-card-subtitle" [innerHTML]="kingdomGuild.description | translate | icon:kingdomGuild"></div>
                </mat-list-item>
              </mat-list>
            </mat-select-trigger>
            <mat-option *ngFor="let guild of kingdomGuilds" [value]="guild">
              <mat-list dense>
                <mat-list-item [ngClass]="guild.faction.id">
                  <div mat-list-avatar>
                    <img mat-list-avatar [src]="guild.image" [alt]="guild.name | translate">
                  </div>
                  <div mat-line>{{ guild.name | translate }}</div>
                  <div mat-line class="mat-card-subtitle" [innerHTML]="guild.description | translate | icon:guild"></div>
                </mat-list-item>
              </mat-list>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <span class="fill-space"></span>
        <button mat-raised-button color="primary" [disabled]="!kingdomGuild || !canBeFavored()" (click)="favorGuild()" cdkFocusInitial>
          {{ canBeFavored() ? ('kingdom.guild.favor' | translate) : kingdomGuilded | date:('dateformat.short' | translate) }}
        </button>
      </mat-card-actions>
    </mat-card>

  </div>
</div>
