.kingdom-clan {
  padding: 10px;
  .mat-mini-fab + .mat-mini-fab {
    margin-left: 5px;
  }
  .mat-header-row .mat-header-cell:last-of-type,
  .mat-row .mat-cell:last-of-type {
    justify-content: flex-end;
  }
  .mat-form-field {
    width: 100%;
  }
  .mat-card-actions {
    display: flex;
  }
  .mat-toolbar {
    background-color: transparent;
  }
}
